@import "#app/common.scss";

.pathway-render {

    .section-separator {

        height: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;

        font-size: 12px;
        width: 100%;
        border: 1px solid $text-color-tinted;
        

        .section-trigger {
            transform: translateY(-50%);
        }

        &.separator-start {
            margin-top: 15px;
            margin-bottom: 40px;
        }

        &.separator-end {
            margin-top: 20px;
            margin-bottom: 30px;

            div {

                display: flex;
                align-items: center;

                background: white;
                padding: 0px 5px;
                transform: translateY(-50%);
              
                color: $text-color-lighter;
                text-align: center;

            }
        }

    }
}

