@import '#app/common.scss';



.styles-tab {

    .styles-sections {

        .style-section:not(:first-child) {
            margin-top: 30px;
        }

        .style-section {

            display: flex;
            flex-direction: column;

            .form-row:not(:first-of-type) {

                margin-top:20px;
            }
        }
    }
}


// customise colorbox for companion MentionTextBox
.colorbox.colorbox-style {

   
    .colorbox-value {

        margin:0px;
        height:inherit;
        height: 32px;

        .colorbox-value-inner {
            height: 22px;
        }

    }



    .text-companion {

        margin-left:5px;
        white-space: nowrap;
        width: 120px;

        .ql-editor {
            font-size: $text-size-smaller;
            padding: 1px 11px;
            line-height: 1.9;
            border-radius: 4px;
        }

        .colorbox-hex-value {
            font-size: $text-size-smaller;
            margin-bottom: 0px;
            line-height: 1.9;
            border-radius: 4px;
        }
    }
}