@import "#app/common.scss";

.dashboard-pickers {
    display: flex;

    &>* {
        margin-right: 5px;
    }
}

.timeliness-notdue {
    border-color: $text-color-selected;

    * {
        color: $text-color-frame;
    }
}

.timeliness-ontime {
    * {
        color: $primary-color;
    }
}

.timeliness-late {
    * {
        color: $error-color;
    }
}

.progress-rate {
    &.submission-rate {

        // background = unsubmitted
        &.submissions-due .ant-progress-inner {
            background: lighten($error-color, 10);
        }

        // late
        .ant-progress-success-bg {
            background: lighten($warning-color, 10);
        }

        // submitted green override (default is blue)
        // other classes are not styled because the effect is overall that of a 'linear chart-pie'.
        &.submission-4 {
            .ant-progress-bg {
                background: $success-color;
            }
        }
    }

    &.compliance-1 .ant-progress-bg {
        background: $error-color;
    }

    &.compliance-2 .ant-progress-bg {
        background: $warning-color;
    }

    &.compliance-3 .ant-progress-bg {
        background: $primary-color;
    }

    &.compliance-4 .ant-progress-bg {
        background: $success-color;
    }

    &.assessment-1 .ant-progress-bg {
        background: $error-color;
    }

    &.assessment-2 .ant-progress-bg {
        background: $warning-color;
    }

    &.assessment-3 .ant-progress-bg {
        background: $primary-color;
    }

    &.assessment-4 .ant-progress-bg {
        background: $success-color;
    }
}

.next-work-summary {
    .next-submitted {
        color: $primary-color;
    }

    .next-pending {
        color: $warning-color;
    }

    .next-drafts {
        color: $success-color;
    }

    .symbol {
        font-size: smaller;
    }
}

.stats-card {

    padding: 5px;

    .ant-statistic-title {
        color: $primary-color;
        font-variant: small-caps;
        white-space: nowrap;
    }

    .ant-statistic {

        &.submission-1,
        &.assessment-1 {

            .ant-statistic-content-value {
                color: orangered !important;
            }
        }

        &.submission-2,
        &.assessment-2 {

            .ant-statistic-content-value {
                color: $warning-color !important;
            }
        }

        &.submission-3,
        &.assessment-3 {
            .ant-statistic-content-value {
                color: $primary-color !important;
            }
        }

        &.submission-4,
        &.assessment-4 {
            .ant-statistic-content-value {
                color: $success-color !important;
            }
        }
    }

    .ant-statistic .ant-statistic-content-value {
        color: $text-color-lightest;
    }


    .stats-error .ant-statistic-content-value {
        color: orangered;
    }

    .stats-warning .ant-statistic-content-value {
        color: $warning-color;
    }

    .stats-primary .ant-statistic-content-value {
        color: $primary-color;
    }

    .ant-statistic-content {
        line-height: 1.2;
    }

    .ant-statistic-content-value {
        font-size: smaller;
    }

    &.stats-dark {
        .ant-statistic-title {
            color: $darktheme_color1;
        }

        .stats-rate .ant-statistic-content-value {
            color: $primary-color-dark;
        }

        .ant-statistic-content-suffix {
            margin-left: 0px;
            font-size: 20px;
            color: $darktheme_color1;
        }
    }
}

// page and antd-level customisation for summary dashboard.
.summary-page {
    padding-bottom: 15px !important; // overrides default.

    .ant-carousel {
        flex-grow: 1;
        width: 100%;
        height: 100%;

        .slick-slider,
        .slick-list,
        .slick-track,
        .slick-slide,
        .slick-slide>div {
            height: 100%;
            overflow-y: auto; // long slides scroll vertically (not horizontally, or other slides will show)!
        }
    }

    .ant-progress {
        .ant-progress-text {
            .progress {
                color: $primary-color;
            }
        }
    }

    .ant-statistic {
        .ant-statistic-title {
            font-variant: small-caps;
            white-space: nowrap;
            margin-bottom: 2px;
        }

        .ant-statistic-content-value {
            font-size: 18px;
            color: lighten($text-color, 20);
        }

        &.small-stat .ant-statistic-content-value {
            font-size: 16px;
        }
    }

    .ant-row+.ant-row,
    .ant-row-flex+.ant-row,
    .ant-row-flex+.ant-row-flex {
        margin-top: 15px;
    }

    .ant-typography {
        color: lighten($text-color, 20);

        &.ant-typography-secondary {
            color: lighten($text-color, 40);
        }
    }
}

/** START ACCORDION ANIMATIONS */
.collapse {
    :is(.label-title, .label-icon, .tabs-icon .anticon) {
        transition: opacity var(--duration) ease-in-out,
            filter calc(var(--duration) / 4) ease-in-out,
            color var(--duration) ease-in-out;
    }

    :is(.label-icon, .tabs-icon .anticon) {
        opacity: .8;
    }

    :is(.label-icon, .tabs-icon .anticon):hover {
        opacity: 1;
        filter: drop-shadow(0 0 .5px #1890ff);
    }

    .label-icon,
    .tabs-icon {
        cursor: pointer;
    }

    &.no-grow {
        .section-content {
            flex-grow: 0 !important;
        }
    }

    &.width {
        .section-content {
            min-width: calc(var(--min-size) - var(--padd));
            width: calc(var(--size) - var(--padd));
        }
    }

    &.height {

        &:first-of-type {
            margin-bottom: 5px;
        }

        .section-content {
            min-height: calc(var(--min-size) - var(--padd));
            height: calc(var(--size) - var(--padd));
        }
    }

    .section-content {
        height: 100%;
        will-change: width, height;

        &>* {
            will-change: filter;
        }
    }

    &.transition {
        &.width {
            .section-content {
                transition: width var(--duration), padding var(--duration);
            }
        }

        &.height {
            .section-content {
                transition: height var(--duration), padding var(--duration);
            }
        }

        &.collapsed .section-content {
            transition-timing-function: ease-out;
        }

        .section-content {
            transition-timing-function: ease-in;
        }

        .section-content>* {
            transition: filter var(--duration) ease-in-out;
        }
    }

    &.collapsed {
        :is(.label-icon, .tabs-icon .anticon):hover {
            filter: drop-shadow(0 0 .5px orange);
        }

        .section-content {
            overflow: hidden !important;
        }

        &.transition-end {
            &.width {
                .summary-stats-title {
                    transform: rotate(90deg) translateY(-4px);

                    .label-icon,
                    .tabs-icon {
                        transform-origin: center center;
                        transform: rotate(-90deg);
                    }

                    .label-title,
                    *[class^="tab-"] {
                        opacity: 1;
                        transform-origin: center center;
                        transform: translateX(15px);
                    }
                }
            }
        }

        .label-title,
        *[class^="tab-"] {
            transition: color var(--duration), opacity var(--duration), filter var(--duration);
        }

        &.width .label-title {
            opacity: 0;
        }

        .summary-stats-title {

            :is(.label-icon, .tabs-icon .anticon) {
                color: orange !important;

                & svg {
                    pointer-events: auto !important;
                }
            }

            :is(.label-title, *[class^="tab-"]) {
                filter: grayscale(1);
                pointer-events: none;
                color: #d9d9d9;
            }
        }

        .section-content {
            padding-left: 10px !important;
            padding-right: 10px !important;
            padding-top: 1px !important;
            padding-bottom: 1px !important;

            &>* {
                filter: opacity(0);
            }
        }
    }
}

/** END ACCORDION ANIMATIONS */

// styles common to all summaries, per-campaign, per-party, per-requirement.
.summary {
    .summary-section {
        display: flex;
        position: relative;
        flex-direction: column;
        background: white;

        .section-header {
            display: flex;
            padding-right: 5px;

            .summary-tabs {
                display: flex;
                align-items: center;

                .tabs-icon {
                    margin-top: 2px;
                    font-size: 20px;
                    margin-right: 6px;

                    .anticon {
                        color: $primary-color;
                    }
                }

                .tab-separator {
                    color: $text-color-frame;
                    margin-left: 10px;
                    margin-right: 10px;
                }

                .tab-active {
                    user-select: none;
                }

                .tab-inactive {
                    color: $text-color-frame;

                    &:hover {
                        cursor: pointer;
                        color: $text-color-lighter;
                    }
                }
            }

            .summary-stats-title {
                font-size: 20px;
                font-weight: 300;
                margin-left: 5px;
                margin-bottom: 5px;
                font-variant: small-caps;
                transform-origin: 8px 15px;

                .label-icon {
                    margin-top: 2px;
                    cursor: pointer;
                }
            }

            .header-icons {
                margin-left: auto;

                button {
                    color: $text-color-lighter;
                    padding: 2px;
                }

                button:hover {
                    color: $primary-color;
                    transform: scale(1.2);
                }

                .icon-selected {
                    color: $primary-color;
                }
            }
        }

        .section-content {
            flex-grow: 1; // grows to fill the height of the section
            padding: 20px; // default spacing.

            overflow: auto; // longer content scrolls.

            border: 1px solid $text-color-lightest; // separated from other sections.
            border-radius: 6px;
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.05);
            box-sizing: border-box;

            .ant-divider {
                font-variant: small-caps;
                font-weight: 300;
                font-size: 14px;
                color: $text-color-lighter;

                margin-top: 20px;
            }

            .ant-carousel {
                min-width: 458px;
            }
        }
    }

    .assessment-1,
    .submission-1,
    .compliance-1,
    .compliance-2 {
        color: orangered;

        .ant-progress-circle-path {
            stroke: $error-color !important;
        }
    }

    .submission-2,
    .assessment-2 {
        color: $warning-color;

        .ant-progress-circle-path {
            stroke: $warning-color !important;
        }
    }

    .assessment-3,
    .submission-3,
    .compliance-3 {
        color: $primary-color;

        .ant-progress-circle-path {
            stroke: $primary-color !important;
        }
    }

    .assessment-4,
    .submission-4,
    .compliance-4 {
        color: $success-color;

        .ant-progress-circle-path {
            stroke: $success-color !important;
        }
    }



    .part-horizon {
        margin-top: 20px;
        margin-right: 3px; // avoids horizontal overflow of slider's tip

    }
}

.submission-horizon {

    display: flex;
    align-items: center;

    .horizon-slider {

        &.sliderbox {
            flex-grow: 1;
            min-width: 250px;
        }
    }

    .horizon-title {
        color: $text-color-lighter;
        font-variant: small-caps;
        margin-right: 5px;
        display: flex;
        word-wrap: break-word;

        .current-horizon {
            margin-left: 7px;
            color: $primary-color;
            max-width: 100px;
        }
    }

}

// TODO: this uses the summary primitives for a concrete layout. if it proves common to all summaries, then extract into generic summary components.
.campaign-summary {
    display: flex;

    height: 100%;

    .cards-section {
        width: 500px;
        min-width: 500px;

        margin-right: 10px;
    }

    .summary-lists {
        flex-grow: 1;

        display: flex;
        flex-direction: column;

        .list-assets-section {
            flex-grow: 1;
            min-height: 250px;
            height: 55%;

            .section-content {
                overflow: hidden;
                padding: 5px;

                .vtable-bar {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }

        .list-messages-section {
            margin-top: 10px;
            flex-grow: 2;
            min-height: 200px;
            height: 45%;
        }
    }
}

.progress-card {
    height: 100%;

    display: flex;
    flex-direction: column;

    .part-graph {
        width: 100%;

        display: flex;
        justify-content: space-around;
        align-items: center;

        .ant-row+.ant-row,
        .ant-row-flex+.ant-row,
        .ant-row-flex+.ant-row-flex {
            margin-top: 8px;
        }
    }
}

.performance-summary-card {
    height: 100%;

    display: flex;
    flex-direction: column;

    .graph-contents {
        display: flex;
        align-items: center;

        .graph-controls {
            .ant-radio-group {
                margin: 0;

                *,
                *:hover,
                *:focus-within {
                    border: none;
                    box-shadow: none;
                    outline: none;
                }

                i {
                    font-size: larger;
                }

                .ant-radio-button-wrapper {
                    i:hover {
                        transform: scale(1.2);
                    }

                    &.ant-radio-button-wrapper-checked {
                        i {
                            color: $primary-color;
                        }
                    }

                    &:not(.ant-radio-button-wrapper-checked) {
                        i {
                            color: $text-color-frame;
                        }
                    }
                }
            }
        }

        .part-graph {
            width: 100%;

            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .ant-row+.ant-row,
            .ant-row-flex+.ant-row,
            .ant-row-flex+.ant-row-flex {
                margin-top: 5px;
            }

            .graph-chart {
                width: 250px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .pie-chart {
                    height: 100%;
                    width: 200px;
                }

                .chart-selector {
                    margin-top: 20px;

                    .selector-dot {
                        &:hover {
                            cursor: pointer;
                            transform: scale(1.2);
                        }

                        &.dot-active {
                            color: $primary-color;
                            opacity: 1;
                            transform: opacity 1s;
                        }

                        &.dot-inactive {
                            color: $text-color-frame;
                        }
                    }
                }
            }
        }
    }
}

.progress-rate-tooltip,
.summary-tooltip {
    .ant-tooltip-inner {
        width: 400px;

        .ant-typography {
            color: white;
        }
    }
}

.calendar-dropdown-divider {
    height: 10px;
}

.ant-dropdown-menu {
    overflow: auto;
    // max-height: 243px;
}

.calendar-month,
.calendar-list {
    .button-color {
        i {
            color: $primary-color;
        }
    }
}

.calendar-month,
.calendar-list {
    .party-label {
        .label-title {
            font-weight: 500;
        }
    }

    .event-label {
        .label-title {
            font-variant: small-caps;
            font-weight: 500;
        }
    }
}

.calendar-month {
    background-color: $header-background !important;
    padding: 15px 0px 60px !important;

    .monthly-view {
        height: 100%;
        flex-grow: 1; // some browsers will ignore 100% in a flex parent (safari).

        display: flex;
        flex-direction: column;

        .months {
            flex-grow: 1;
        }

        .month-dots {
            margin-top: 20px;

            button {
                background: transparent; //safari fix.
            }

            .BrainhubCarousel__thumbnail {
                font-size: 16px;
                scale: 1;

                &:hover {
                    transform: scale(1.7);
                    transition: transform 0.5s;
                }

                &.BrainhubCarousel__thumbnail--selected {
                    color: $app-color;
                    transform: scale(1.4);
                    transition: transform 0.5s;
                }
            }
        }

        .month-container {
            background: white;
            border-radius: 8px;
        }

        .month-container.inactive {
            opacity: 0.6;

            &:hover {
                transform: scaleX(1.02);
                opacity: 0.8;
                transition: transform 0.2s linear;
            }

            .right-arrow {
                font-size: 35px;
                z-index: 10;
                margin-left: 20px;
            }

            .left-arrow {
                font-size: 35px;
                z-index: 10;
                margin-right: 20px;
                margin-left: auto;
            }
        }

        .month-card {
            height: 100%;

            padding: 15px 20px 30px;

            display: flex;
            flex-direction: column;

            .month-title {
                font-size: 34px;
                font-weight: 200;
                color: $primary-color;
                border-bottom: 1px solid $text-color-tinted;
                margin-bottom: 20px;
            }

            .month-table {
                flex-grow: 1;

                .day {
                    font-size: large;
                    color: $text-color;
                    border: 1px solid $primary-color;
                    border-radius: 3px;
                    padding: 0px 5px;

                    &.same-day {
                        opacity: 0.2;
                    }
                }

                .event-type {
                    font-weight: 500;
                }
            }

            .vtable-bar {
                margin-bottom: 25px;
            }
        }
    }
}

.selectable-filter-menu {
    li:hover {
        .ant-tag {
            background-color: $dropdown-hover;
        }
    }

    li {
        margin-top: 3.5px;
    }
}

.BrainhubCarouselItem.BrainhubCarouselItem--clickable {
    cursor: default;
}

.warn {
    color: $error-color !important;
}

.notapplicable {
    color: $text-color-disabled !important;

    &.lbl {
    
        border-color: $text-color-selected;
        
        * {
            color: $text-color-frame;
        }
    }
}

.shares-in-lang {
    display: flex;

    .share-in-lang:hover {
        cursor: pointer;

        .label-title {
            color: $primary-color;
            text-decoration: underline;
        }
    }

    .share-in-lang {
        .label-title {
            color: $text-color;
        }
    }
}

.asset-trail-quicklist {
    height: calc(100% - 60px) !important;
}

.remove-shared-document-btn {
    background-color: rgba(0, 0, 0, 0);

    span {
        color: $warning-color;
    }


}

.remove-shared-document-btn:hover {
    background-color: rgba(0, 0, 0, 0);

    span {
        color: lighten($color: $warning-color, $amount: 5);
    }

}

.party-selector {

    display: flex;
    align-items: center;
    margin-bottom: 5px;
    
    .party-selector-label {

        background: $text-color-selected;
        text-transform: lowercase;
        font-variant: small-caps;
        padding: 5px;
        margin-right: 5px;
        font-size: 14px;
    }

    .party-selector-dropdown {

        width:100%
    }
}


.last-update-alert {

    * {
        color: $app-color
    }
}