@import "#app/common.scss";

.submission-layout {
    //height: 100%; // fills out parent (currently: page's main content).
    display: flex; // stacks children horizontally (toc and pages)


}

.submission-edit {

    padding: 0px !important;
    position: relative;

}

.accent-current {
    .submission-pages {
        background: #dfe5e9;
    }
}

.accent-superseded {
    .submission-pages {
        background: #eaeaeb;
    }
}

.accent-badge {
    line-height: 30px;

    * {
        font-size: 14px;
    }

    &.accent-superseded {
        background: darken(#b6c0c3, 20);

        * {
            color: white;
        }
    }

    &.accent-official,
    &.accent-active {
        background: #3fa6c5;

        * {
            color: white;
        }
    }

    &.accent-na {
        background: $warning-color;

        * {
            color: white;
        }
    }

    &.accent-missing {
        background: $error-color;

        * {
            color: white;
        }
    }

    margin-right: 15px;

    border: 1px solid lightgrey;
}

.submission-pages {
    flex-grow: 1;

    background: $text-color-selected;

    border-radius: 6px;
    padding: 30px 20px 50px;
    margin-bottom: 15px; // page and context offset from bottom.

    .page-form,
    .ant-form {
        padding: 0px;
    }
}

.compliance,
.compliance-rating {
    &.compliance-1 {
        color: $error-color;
    }

    &.compliance-2 {
        color: $warning-color;
    }

    &.compliance-3 {
        color: $primary-color;
    }

    &.compliance-4 {
        color: $success-color;
    }
}


.accent-grey {

    * {
        filter: grayscale(1) !important;

        .submission-label .label-icon {
            filter: grayscale(0) !important;
        }

    }

    .BaseTable__row-cell {
        opacity: 0.5;
    }
}

// .current-row {
// box-shadow: 4px 0px 0px 0px $primary-color inset;
// }

.current-row::after {
    position: absolute;
    height: 100%;
    width: 4px;
    background-color: $primary-color;
    opacity: 1 !important;
    content: ' ';
}

.current-group::after {
    position: absolute;
    height: 100%;
    width: 4px;
    background-color: lighten($color: gray, $amount: 12%);
    opacity: 1;
    content: '';
}


.submission-tag * {


    color: $app-color;

}

.submission-label {
    &.state-only {
        &.draft {
            * {
                color: $success-color;
            }
        }

        &.pending {
            * {
                color: $warning-color;
            }
        }

        &.submitted {
            * {
                color: $primary-color;
            }
        }
    }

    .submission-title .managed {

        color: $text-color-lighter
    }


}

.changelog-drawer {

    .layout-content {

        overflow: auto;
    }
}

.changelog-compare-section {

    +.changelog-compare-section {

        margin-top: 20px;
    }

    .section-title {

        padding: 10px;
        background: $text-color-tinted;
        margin-bottom: 30px;
        text-align: center;
        font-size: large;
        font-variant: small-caps;
        text-transform: lowercase;

    }

    .section-field {

        width: 100%;
        overflow: auto;

        * {
            pointer-events: none;
        }

    }
}



.changelog-compare {

    font-variant: small-caps;
    color: $app-color;

    padding: 0px 10px;

    font-size: 15px;

    &:hover {
        color: darken(lightseagreen, .9);
    }
}


.changelog-unchanged {

    pointer-events: none !important;
    filter: blur(1px);
    opacity: .4;


}

.changelog-pill {

    background: $app-color;

    * {
        color: white;
    }
}

.changelog-btn {

    &.mode_on {

        background-color: $app-color;

        &:hover {

            background: lighten(lightseagreen, .1);
        }

        * {
            color: white
        }
    }

    &.mode_off {


        &:hover {

            color: lighten(lightseagreen, .1);

            // * {
            //     color: white;
            // }
        }

        * {
            color: $app-color;
        }
    }

    svg {
        color: $app-color;
        margin-top: 1px;
    }
}


.submission-label.label-tag {
    font-size: 18;
    padding-top: 4;

    &.compliance {
        &.compliance-1 {
            background: $error-color;

            * {
                color: white;
            }
        }

        &.compliance-2 {
            background: $warning-color;

            * {
                color: white;
            }
        }

        &.compliance-3 {
            background: $primary-color;

            * {
                color: white;
            }
        }

        &.compliance-4 {
            background: $success-color;

            * {
                color: white;
            }
        }
    }

    &.state-only {
        &.draft {
            background: $success-color;

            * {
                color: white;
            }
        }

        &.pending {
            background: $warning-color;

            * {
                color: white;
            }
        }

        &.submitted {
            background: $primary-color;

            * {
                color: white;
            }
        }

        &.published {
            background: darken($success-color, 5);

            * {
                color: white;
            }
        }

        &.missing {
            background: darken($error-color, 5);

            * {
                color: white
            }
        }

        &.nostatus {
            background: darken(lightgrey, 10);

            * {
                color: white
            }
        }
    }
}

.assessment-label {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;

    &.last-label {
        margin-bottom: 20px;
    }

    .label-name {
        font-size: 18px;
        font-weight: 200;
        color: $text-color-lighter;
    }

    .assessment-level {
        margin-top: -5px;
        font-size: 30px;
        font-weight: 200;
    }

    .timeliness-level {
        margin-top: -5px;
        font-size: 23px;
        font-weight: 200;
    }

    .assessment-comment {
        margin-bottom: 5px;
        font-size: 16px;
    }
}

.submission-subtitle {
    .subtitle-label {
        font-weight: 200;
        color: $text-color-lighter;
    }
}


.submission-dialog-panel {

    .submission-dialog-panel {

        margin-top: 10px !important;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 50px 30px;

    font-weight: 300;

    .submission-dialog-icon {
        font-size: 150px;
        margin-bottom: 20px;
        color: darkcyan;
    }

    .submission-dialog-intro {
        font-size: 16px;
    }

    .submission-dialog-section {
        background: $text-color-selected;
        border-radius: 4px;
        padding: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;

        .submission-dialog-section-title {
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 20px;
        }

        &+.submission-dialog-section {
            margin-top: 30px;
        }

        .page-form {
            padding-top: 15px;
        }
    }

    .submission-dialog-explainer {
        padding-top: 5px;
        font-style: italic;
    }

    .reference-preview-title {
        font-size: 20px;
        font-weight: 300;
    }

    .reference-preview {
        font-size: large;
    }

    .submission-dialog-warning {

        padding-top: 30px;
        white-space: pre-wrap;
        color: $error-color;
    }
}

.share-tag {
    background: darken($success-color, 5);

    .label-title {
        color: white !important;
    }

    .label-icon {
        svg {
            color: white;
        }
    }
}

.share-tag:hover {
    cursor: pointer;
}

.submissiondate-edit {

    margin-right: 3px;


}

.timeliness-late {
    color: red;

    .label-icon {
        color: red;
    }
}

.timeliness-ontime {
    color: $primary-color
}

.product {
    .input-default-value {
        color: inherit !important;
    }

    ;
}

.translate-assessment-panel {
    transform: translateX(-585px) !important;
    color: inherit;
}

.lineage-panel-title {

    background: $text-color-selected;
    padding: 5px 15px;
    margin: 15px 10px 0px;
    border-radius: 6px;

    .label-main {
        font-size: 20px;
        font-weight: 200;
    }

}

.lateness-reminder {

    font-size: 12px;
    text-align: center;
    padding: 10px;
    background: $text-color-selected;
    color: $error-color;
    margin-top: -15px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.toc-drawer {

    font-size: smaller;
}


.toc-list {

    font-size: small;
    font-variant: small-caps;
    margin-top: 30px;
    min-height: 200px;

    padding: 20px 20px;
    border-radius: 4px;
    background-color: lighten($text-color-selected, 2);

    .toc-entry {

        // eliminates default margin for html anchor labels.
        .label-title p {
            margin: 0px;
        }


    }

    .toc-entry+.toc-entry {
        margin-top: 8px;
    }
}

.layout-container {

    background: $text-color-selected;

    overflow-y: scroll;

    min-height: 400px;

    width: 100%;
    height: 100%;

    .ant-spin {
        position: absolute;
    }
}

.share-excluded-modal {
    .modal-warn-red {
        color: $error-color;
    }

    .modal-warn {
        margin-bottom: 10px !important;
    }
}

.row-bottom-green {
    border-bottom: 2px solid green;
}