@import "#app/common.scss";

.submission-message {
    padding: 30px 40px 40px !important; // customise page padding for message flow.
}

.flow-viewer {
    height: 100%; //    fills its parent....

    display: flex; //    ...with a vertical flexbox.
    flex-direction: column;
}

.messages {
    flex-grow: 1; // messages stretch to bottom
}

.message-reply {

    border: 1px solid $text-color-tinted;
    border-radius: 4px;
    border-left: 2px solid $app-color;
    background: lighten($text-color-tinted, 8);
    padding: 10px;
    color: $text-color-lighter;

    margin-bottom: 3px;

    display: flex;
    align-items: flex-start;

    .message-reply-main {

        flex-grow: 1;

        display: flex;
        flex-direction: column;

        padding-top: 5px; // aligns with clear icon.
        padding-bottom: 10px;

        .message-reply-author {
            color: $app-color;
            margin-bottom: 3px;
        }
    }

    .message-reply-actions {
        margin-left: 20px;
    }
}

.message-bottom-bar {

    display: flex;
    align-items: center;

    .message-action-trigger {

        align-self: end;
        margin-left: 1px;

        button {

            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;

            padding: 4px 0px 0px;
        }
    }

    .message-editor {

        flex-grow: 1;
    }
}

.message-actions {


    opacity: 0;

    pointer-events: none;

    &.active {

        pointer-events: all;
        opacity: 1;
    }

    margin-top: 30px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;


    button {

        background-color: $text-color-selected !important;
        border-radius: 10px;
        padding: 0px 20px !important;

        svg {

            position: relative;
            top: 2px;
            margin-right: 4px;
        }

        font-variant: small-caps;
        text-transform: lowercase;

        &:not(:hover):not(:disabled) {
            color: $text-color-lighter
        }

        font-size: 11px;

    }
}

.message-editor {

    display: flex;


    &.message-editor-placeholder {

        justify-content: flex-end;

        .message-editor-edit-button {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }

    &.message-editor-full {


        .message-editor-content {
            flex-grow: 1; // stretches as wide as buttons allow

            display: flex;
            flex-direction: column;

            .message-editor-reply-content {
                flex-grow: 1;

                padding-top: 5px; // aligns with clear icon.
                padding-bottom: 10px;

                max-height: 80px;
                overflow: auto;
            }

            .message-editor-reply-clear {
                margin-left: 20px;
            }


            textarea {
                resize: none; // no manual resize.
            }
        }

        .message-editor-buttons {

            align-self: flex-end; // button remain along the baseline if input height grows.
            margin-left: 5px;

            button {
                border-bottom-right-radius: 0px;
                border-top-right-radius: 0px;
            }
        }
    }
}

.unread-message-badge {
    sup {
        right: -3px;
        top: -2px;
    }

    .ant-badge-dot {
        background: $primary-color;
    }
}

.flow-message {
    display: flex;

    padding: 15px 0;

    .message-sidebar {
        flex-shrink: 0;
        margin-right: 12px;
        min-width: 1px;

        .message-avatar {
            color: white;

            &.message-avatar-system {
                background: $text-color-lightest;
                color: $app-color;
            }

            &.message-avatar-user {
                background: $primary-color;
            }

            &.message-avatar-none {
                background: $app-color;
            }
        }
    }

    .message-main {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        .message-topbar {
            display: flex;
            align-items: center;
            white-space: nowrap;

            line-height: 22px; // ready to contain 'taller' tags.

            font-size: 12px;

            .message-author {
                color: $text-color-lighter;
            }

            .message-date {
                margin-left: 8px;
                color: lighten($text-color-lighter, 10);
            }


        }

        .message-topics {

            line-height: 22px;

            display: flex;

            align-items: center;
            white-space: nowrap;

            font-variant: small-caps;

            .message-topic+.message-topic {
                margin-left: 15px;
            }

        }

        .unread-tag {
            color: white;
            background: $app-color;
            font-variant: small-caps;
        }

        .message-content {

            &.content-with-topics {

                //color:$text-color-lighter;
            }

            margin: 5px 0;
            flex-grow: 1;

            white-space: pre-wrap;

            display: flex;
            flex-direction: column;

            font-size: small;

            .message-content-reply {
                margin: 0 10px 10px 10px;
                background: lighten($text-color-tinted, 5);
            }
        }

        .message-bottombar {
            display: flex;
            align-items: center;

            button span {
                color: $text-color-lighter;
            }

            * {
                font-size: 11px;
            }

            .message-action+.message-action {
                margin-left: 10px;
            }

            .message-action {
                i {
                    color: $primary-color;
                    margin-right: 2px;
                }
            }


        }
    }

    &.own-message {
        .message-content {
            background: lighten($text-color-tinted, 8);
            border-left: 2px solid $primary-color;
            border-radius: 4px;
            padding: 10px;
        }
    }

    &.message-with-reply {
        .message-content {
            // background: lighten($text-color-tinted, 8);
            border-left: 2px solid $primary-color;
            border-radius: 4px;
            padding: 10px;
        }
    }
}

.topic-icon {
    .label-icon {
        color: $primary-color;
    }
}


.topic-tip {

    display: flex;
    align-items: center;

}

.topic-tip-overlay {

    .ant-tooltip-inner {
        width: max-content;
        white-space: nowrap;
    }
}