@import "#app/common.scss";


.party-profile {

    display:flex;
    
    .profile-toc {

  
        display: flex;
        justify-content: center;
        margin-right: 30px;
       

        * {
            font-size: $text-size-smaller;

        }

        

    }

    .profile-instances {

        flex-grow: 1;

        .instance-section {

            margin-top:30px;

            &:before {
                content:"";
                display:block;
                height:158px; /* fixed header height*/
                margin:-158px 0 0; /* negative fixed header height */
            }
        }


    }
    
}