@import '#app/common.scss';


.filebox {

    &.filebox-default-value {

        opacity: .7;
    }

    .file-resources {
        * {
            font-size: $text-size-smaller
        }

        .file-resource:not(:first-child) {
            margin-top: 5px;
        }

        .file-resource {

            display: flex;
            align-items: center;
            border: 1px solid $text-color-frame;
            border-radius: 6px;
            padding: 0px 10px
        }

        .file-resource-borderless {
            display: flex;
            align-items: center;
            padding: 0px 10px
        }

        .error {
            border: 1px solid $error-color;
        }

        .resource-name {

            flex-grow: 1;
            line-height: 30px;

            .file-icon {
                color: inherit;

                &.pdf {
                    color: red;
                }

                &.word {
                    color: blue;
                }

                &.excel {
                    color: green;
                }

                &.powerpoint {
                    color: orange;
                }

                &.jpeg {
                    color: rgb(167, 167, 1);
                }

                &.png {
                    color: #DC4172;
                }

                &.text {
                    color: black;
                }

                &.zip {
                    color: rgb(177, 177, 0);
                }

                &.rar {
                    color: rgb(138, 20, 20);
                }

                //&.7z { color: rgb(116, 138, 20); }   // '7z' not an accepted identifier in `sass` replamcent of `node-sass`
            }
        }

    }

    .file-droppable {

        margin-top: 5px;
        color: $text-color-lighter;
        height: 50px;
        background: $text-color-selected;
        border-radius: 6px;
        padding: 0px 10px;
        transition: height 0.2s linear;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .file-msg {


            $text-size-larger: 16px;

            position: absolute;

            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            opacity: 0;
            transition: opacity .4s .2s;

            &.msg-drag {

                opacity: 1;

                .file-dialog-button {

                    background: transparent;
                    margin-left: 8px;
                    padding-top: 2px;
                    font-size: larger;
                }

            }


        }



        &.hovered {

            background: darken($text-color-selected, 2%);
            height: 100px;

            .file-msg.msg-drop {

                opacity: 1;

            }

            .file-msg.msg-drag {

                opacity: 0;

            }
        }
    }
}

.fileDescriptionTooltip {
    word-wrap: break-word;
}

.fileInfo {
    .container {
        margin-top: 2px;
        font-size: small;

        .lbl {
            color: $primary-color;
            margin-right: 3px;
        }
    }
}

.multiFileBox {
    border: 1px solid $text-color-frame;
    width: 100%;

    .file-droppable {

        &:not(.hovered) {
            height: 32px;
        }

        &.hovered {
            height: 50px;
        }

        margin-top: 0;
        border-radius: 0;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

}

.img-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;

    .img-source {
        display: block;
        width: 100%;
        height: auto;
    }

    .img-overlay {

        border-radius: 2px;

        .download {
            font-size: 20px;
            margin-right: 5px;
            background: rgba(0, 0, 0, 0.35);
            border-radius: 5px;
            padding: 3px;
        }

        .fullscreen {
            font-size: 20px;
            margin-right: 5px;
            background: rgba(0, 0, 0, 0.35);
            border-radius: 5px;
            padding: 3px;
        }

        .info {
            font-size: 20px;
            background: rgba(0, 0, 0, 0.35);
            border-radius: 5px;
            padding: 1px;
        }

        .download:hover {
            cursor: pointer;
        }

        .fullscreen:hover {
            cursor: pointer;
        }

        position: absolute;
        color: #f1f1f1;
        transition: .5s ease;
        opacity: 0;
        color: white;
        top: 10px;
        right: 10px;


    }

    .img-placeholder {
        display: flex;
        width:auto;
        .icon {
            color: $primary-color;
        }
        .text {
            margin-left: 5px;
            line-height: 1.5;
            color: black;
        }
        .attention {
            margin: 0;   
        }
    }

    .img-caption {
        text-align: center;
        color: $text-color-lighter;
    }

}

.img-container:hover .img-overlay {
    opacity: 0.84;
}