@import "#app/common.scss";

.multipathway-subdetails {

    .subquery .ant-form-item-label {

        display: none;
    }

    .list-bar {

        margin-left: 0px !important;
        padding: 0px !important;
        text-align: center;
        
        border: 1px solid $text-color-frame;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-left: none;

    }
}


.multipathway-subdetail {

    padding:15px 10px 5px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: $text-color-selected;    
    border: 1px solid $text-color-frame;
}