@import '#app/common.scss';

.layout-settings {

    margin-bottom: 5px;

    .settings-button {

        background: transparent;
        border: 1px solid $text-color-lightest;
        display:flex;
        background: $text-color-tinted;
        font-size: $text-size-smaller;
        padding: 10px;
        
        .settings-caret {
            background: transparent;
        }

    }

    .settings-panel {

        
        max-height: 0px;
        overflow:auto;
        padding:0px 10px 0px;
        border-color: $text-color-selected;

        font-size: $text-size-smaller;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .setting {

            margin-bottom:8px;
        }

        .setting-mode {

            display: flex; 

            margin-bottom: 10px;

            span {
                margin-right: 5px;
            }

        }
        
    }

    .settings-panel {

        max-height: 200px;
        padding:15px 10px 0px;
        
        border: 1px solid $text-color-selected;
        border-top: none;
        transition: padding .1s linear .2s, max-height 0s .2s, border 0s .2s
        

    }
    
}


.settings-form {

    padding-left: 15px;
    padding-right: 15px;

}