@import "#app/common.scss";

.formitem {
    background: red !important;
}

//  forms inside slideout are slimmer
.slideout {
    .page-form {
        .form-toc {
            // more compact toc
            min-width: 150px;
            margin-right: 20px;
            padding-right: 20px;

            // if toc is available, everything is narrower, give sidebar more breathing space.
            &+.ant-form {
                .form-row {
                    .row-main {
                        min-width: 65%;
                    }

                    .row-side {
                        min-width: 35%;
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
            }
        }

        .ant-form {
            padding-left: 0px;

            .form-row {
                .row-main {
                    min-width: 65%;
                }

                .row-side {
                    padding-left: 20px;
                    min-width: 35%;
                }
            }
        }
    }

    .form-to {
        margin-right: 15px;
        max-width: 10%;
    }
}

.form-full-height {
    height: 100%;
}

.page-form {
    display: flex;
    padding-top: 30px;
    align-items: flex-start;

    .form-toc {
        flex-grow: 1;
        min-width: 150px;
        max-width: 20%;
        margin-right: 30px;
        position: sticky;
        //top:80px;                                             // should be set programmatically.

        .ant-anchor-wrapper {
            display: flex;
            justify-content: flex-end;
        }

        .anchor-label {
            .label-icon {
                height: 6px;
                width: 5px;
                background-color: white;
                border: 1px solid $primary-color;
                border-radius: 4px;
            }

            &:hover {
                .label-icon {
                    background-color: $primary-color;
                }
            }
        }

        .ant-anchor-ink,
        .ant-anchor-ink-ball {
            display: none;
        }

        .ant-anchor-link {
            font-size: small;
            padding: 5px 0px;

            a {
                color: $text-color-lighter;
            }

            a:hover {
                color: $primary-color;
            }
        }
    }

    .form-toc-smaller {
        min-width: 110px;
    }

    // form when toc is present
    .form-toc+.ant-form {
        max-width: 80%;
        padding-left: 0px;

        .form-row {
            .row-main {
                min-width: 70%;
            }

            .row-side {
                min-width: 30%;
            }
        }
    }

    .ant-form {
        width: 100%;
        padding-left: 30px;


        .ant-input {
            border-color: $text-color-frame !important;
        }

        .has-error {
            .ant-input {
                border-color: $error-color !important;
            }
        }

        .has-warning {
            .ant-input {
                border-color: $warning-color !important;
            }
        }

        .field-group {
            display: flex;
            align-items: start;
        }

        .form-row {
            display: flex;

            .row-main {
                flex-grow: 2; // grows to fill unless otherwise constrained (e.g. when sidebar is not used).

                min-width: 75%; //  complemented by min-width of sidebar!

                .ant-select-selection__clear {
                    color: $text-color-lighter;
                    font-size: $text_size;
                }
            }

            .row-side {
                flex-grow: 1;
                min-width: 25%; // or rows with empty sidebar will grow larger than those with content in sidebar.
                padding-top: 10px;
                padding-left: 30px;
                padding-right: 20px;

                font-size: smaller;
                color: $text-color-lighter;

                .ant-typography {
                    color: $text-color-lighter;
                }

                &:hover {
                    color: $text-color;

                    .ant-typography {
                        color: $text-color;
                    }
                }
            }
        }

        .ant-form-item-children {
            line-height: 32px;
        }

        .ant-form-item-with-help {
            margin-bottom: 20px;
        }

        .ant-form-item {

            .label-decorations {

                display: flex;
                white-space: nowrap;
                align-items: end;
               // max-height: 12px;   // removed 29/11/24 as it cuts RT labels as used and abused in prod. no visible regression, so hopefully was abandonware.


            }

            &:hover .label-silent-item {
                opacity: 1;
            }

            & .label-silent-item {
                transition: opacity .4s;
                opacity: 0;
            }


            .suffix-reset-default-btn {
                color: $primary-color;
                padding: 0px;
            }

            .field-label-item {

                button,
                i,
                svg {

                    line-height: 12px;
                    max-height: 12px;
                }
            }

            .field-label-item:first-child+.field-label-item {

                margin-left: 4px;

            }
        }

        .ant-form-item-label {
            text-align: left;
            line-height: 12px;

            label {
                font-size: small;
                color: $text-color-lighter;

            }
        }

        .ant-input {
            border-color: $text-color-frame !important;
        }

        .ant-divider-inner-text {
            font-weight: 200;
            color: $text-color-lighter;
            font-variant: small-caps;
        }

        .ant-form-explain {
            margin: 3px;
            font-size: smaller;
            line-height: 20px;

            .ant-typography {
                color: $text-color-lighter !important;
            }

            .ant-typography.ant-typography-warning {
                color: $warning-color !important;
            }

            .ant-typography.ant-typography-danger {
                color: $error-color !important;
            }
        }
    }

    .switch {
        .ant-form-item-control {
            line-height: 35px; // switch look a bit sparse wihtout.
        }
    }

    .file-box-area {
        -webkit-box-shadow: 8px 8px 6px 0px rgba(163, 163, 163, 1);
        -moz-box-shadow: 8px 8px 6px 0px rgba(163, 163, 163, 1);
        box-shadow: 8px 8px 6px 0px rgba(163, 163, 163, 1);

        width: 98%;
        min-height: 100px;

        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;

        border: 0.1px solid $text-color-disabled;
        color: $text-color-disabled;

        text-align: center;

        .droppable {
            min-height: 100px;

            &.hovered {
                background: rgba($primary-color, 0.2);
                border-top: 0px !important;
                padding-top: 0 !important;
            }
        }

        .file {
            width: 100%;
            height: 32px;
            color: black;
            text-align: left;
            padding-left: 20px;
            border-bottom: 1px dashed $text-color-disabled;
            font-weight: 200;

            .file-icon {
                font-size: 20px;
            }
        }

        .placeholder {
            padding-top: 30px;
        }
    }
}

.suffix-container {
    line-height: 1.6; // can be anything, but 'top' below must sync with it.
    position: relative; // enables absolute positioning of the suffix child.
}

.suffix {
    position: absolute;
    right: 12px;
    z-index: 2;
    color: $text-color-lighter;
    top: 6px;

    // clumsy attempt to clear any space around suffix to simplify calculations for absolute positioning.
    // covers known cases, either extend with more case, or handle it client-side.
    i,
    button {
        line-height: 0px !important;
        background: white;
    }

    button {
        line-height: 0px !important;
        min-height: 0px !important;
        height: 14px !important;
    }
}


// .numberbox.numberbox-default-value {

//     opacity: .7
// }


// .filebox.filebox-default-value {

//     opacity: .7
// }



.readonlybox {
    // this is about the content, not how to edit it. so we should preserve it in content mode.
    // &.readonlybox-content .ant-form-item-label {
    //     display: none;
    // }


    &.readonlybox-content.textbox:not(.in-multibox) input,
    &.readonlybox-content.textbox:not(.in-multibox) textarea {
        padding: 0;
    }



    &.readonlybox-content textarea {
        resize: none;
    }

    &.readonlybox-content {

        .ant-form-explain {
            display: none;
            margin: 0px;
        }

        .has-error .ant-form-explain,
        .has-warning .ant-form-explain {
            display: block;
        }

        .ant-select-selection__choice {

            padding-right: 10px;

        }

        .ant-select-selection__choice__remove {
            display: none
        }
    }

    .ant-radio-group {
        pointer-events: none;
    }
}


.checkbox {
    .ant-checkbox-group-item {
        line-height: 32px;
    }

    // &.checkbox-default-value {

    //     .ant-checkbox-wrapper-checked {

    //         color: $text-color-lighter;

    //         .ant-checkbox-inner {
    //             opacity: .7;
    //         }
    //     }


    // }

    &.readonlybox {

        .ant-checkbox-group {
            pointer-events: none;
        }
  
    }

    &.readonlybox-content {

        .label-silent-item {
            display: none;
        }
    }
}

.checkbox-vertical {
    .ant-checkbox-group {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        margin-left: 5px;
    }
}

.radio-horizontal {
    .ant-radio-group {
        display: flex;
        flex-direction: row;
        margin-top: 5px;
        margin-left: 5px;
    }
}



.reset-default-btn {
    background: white;
    color: $app-color !important;
    padding-left: 20px;
    transition: opacity 0.5s;
}



.textbox {

    &.readonlybox-content:not(.in-multibox) .ant-input,
    &.readonlybox-content:not(.in-multibox) input:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }
}

// .input-default-value .ql-editor {

//     opacity: .7;
// }

// base quill customations.
.quill {
    input:focus {
        box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2) !important;
        outline: none;
    }

    .ql-snow a {
        color: $primary-color;
    }

    .ql-container {
        // rather than a bottom border on toolbar, which may not show.
        border-top: 1px solid $text-color-frame !important;

        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        // or it'd be smaller.
        font-size: inherit;

        .ql-editor[data-placeholder]:not([data-placeholder=""])::before {
            padding-top: 5px;
            margin-left: -4px;
        }

    }

    pre.ql-container {
        overflow: visible !important;
    }

    //  elements to ant fields (compensating for different structures).
    .ql-editor {

        background: white;
        padding: 0px 11px;

    }



    .ql-toolbar {
        padding: 4px 2px;
    }

    .ql-toolbar {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        // fixed-height for toolbar

        // rather have a top border on container, that may appear wihtout toolbar (readonly,disabled).
        border-bottom: 0;

        // aligns hover color to what we use
        *:hover {
            color: $primary-color !important;
        }

        *:focus {
            border-color: $primary-color !important;
            outline: none;
        }

        .ql-picker-label {
            font-size: 12px;
            vertical-align: middle;

            svg {
                top: 60% !important;
            }
        }

        .ql-picker-options {
            .ql-picker-item {
                font-size: 12px;
            }
        }

        svg {
            height: 12px !important;
        }
    }

    .ql-editor.ql-blank::before {
        color: $text-color-disabled;
        font-style: inherit;
    }

    .ql-editor {
        min-height: 32px;

        &:focus {
            box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
        }

        &>p {
            line-height: 32px;
        }
    }

    // mentions

    .ql-mention-list {
        max-height: 250px;
        overflow: scroll;
    }

    .ql-mention-list-container {
        max-width: 350px;
        border-radius: 6px;
    }

    .ql-mention-list-item {
        height: 28px;
        line-height: 28px;
        font-size: 12px;
        padding: 0px 10px;

        white-space: nowrap;
    }

    .ql-tooltip {
        z-index: 200;
    }
}



// additional quill enhancements.
.richbox {

    &.readonlybox.readonly-fallback {

        .ql-editor>p {

            background-color: $text-color-selected;
            width: 20px;
            line-height: 20px;
            border-radius: 4px;
            text-align: center;
            padding: 0px 2px;
            opacity: .6;
        }

    }

    &.readonlybox .ql-toolbar {
        display: none;
    }

    &.readonlybox,
    &.richbox-notoolbar {

        .quill {
            .ql-toolbar {
                display: none;
            }
        }
    }

    &.readonlybox-content:not(.in-multibox) .ql-container {
        border: none !important;
        outline: none;
    }

    &.readonlybox-content:not(.in-multibox) .ql-editor {
        padding: 0;
    }

    &.richbox-disabled {
        .quill {
            background: $text-color-selected;

            &:hover {
                cursor: not-allowed;
            }

            .ql-container:hover {
                border-color: $text-color-frame !important;
            }

            .ql-editor {
                p {
                    cursor: not-allowed;
                    color: $text-color-disabled;
                }
            }
        }
    }

    &.richbox-height-mid {
        .ql-container {
            min-height: 200px;
            display: grid;

            .ql-editor {
                min-height: 200px;
            }
        }
    }

    &.richbox-height-max {
        .ql-container {
            min-height: 400px;
            display: grid;

            .ql-editor {
                min-height: 400px;
            }
        }
    }

    .ql-container {
        .ql-editor {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
}

.has-warning {
    .ql-container {
        border-color: $warning-color !important;
    }
}

.has-error {
    .ql-container {
        border-color: $error-color !important;
    }
}

.multibox {
    .multibox-language {
        display: flex !important;
        margin-top: 3px;

        .prefix-container {
            background-color: $text-color-selected;
            border: 1px solid $text-color-frame;
            border-bottom-left-radius: 4px;
            padding: 0px;
            width: 40px;

            .prefix {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                line-height: 30px;
            }
        }

        textarea,
        input,
        .ql-container,
        .ql-toolbar {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    .language-choice {
        text-align: right;
        display: block;

        .ant-btn {
            font-size: smaller;

            i {
                margin-top: 3px;
            }
        }
    }

    &.with-language-choice .ant-form-explain {
        margin-top: -23px;
        margin-bottom: 30px;
    }
}

//@at-root global because overlay
.language-choice-item {
    font-size: 12px;

    i {
        margin-right: 5px !important;
    }
}

.selectbox {
    li.ant-select-selection__choice {
        background: $text-color-selected;
    }

    li {
        .ant-select-selection__choice__content {
            white-space: pre-wrap;
        }
    }

    // &.selectbox-default-value {

    //     .ant-select-selection-selected-value,
    //     .ant-select-selection__choice {

    //         opacity: .7 !important;
    //     }
    // }

    .ant-select-selection--multiple .ant-select-selection__rendered>ul>li {

        height: auto;
        margin-top: 4px;
        line-height: 15px;
        padding-top: 3px;

    }

    .ant-select-dropdown-menu-item {

        white-space: inherit;
    }

    &.readonlybox,
    &.readonlybox-unlocked {

        .ant-select-dropdown-menu li {
            cursor: not-allowed;
        }



        .ant-form-item-control,
        .ant-select {

            pointer-events: none;
        }

        // .ant-select-arrow {
        //     right: 30px;
        //     top: 16px;
        // }

        // commenting this out as it removes also the onBlur listener that close the menu.
        // input,
        // .ant-select-search {
        //     display: none !important;
        // }

        //content value isn't dimmed.
        // .ant-select-selection__rendered {
        //     div {
        //         opacity: 1 !important;
        //     }
        // }

        //selected value can be selected.
        .ant-select-selection {
            user-select: text;
        }


        // chromeless
        &.readonlybox-content {

            // no frame or 'focus' highlights.
            * {
                box-shadow: none;
                border: none;
                outline: none;
                pointer-events: none;
            }

            // no menu a
            &.ant-select-dropdown,
            .ant-select-arrow,
            .ant-select-selection__clear {
                display: none;
            }

            .ant-select-selection__rendered {
                margin: 0px;
            }
        }
    }
}

.has-error {
    .vselectbox {
        .vselect__indicators i {
            color: $error-color !important;
        }

        .vselect__control {
            border-color: $error-color !important;
        }
    }

    .ant-select-selection {
        border-color: $error-color !important;
    }
}

.vselectbox {
    &.small {
        .vselect {
            margin: 0px;
        }

        .vselect__control {
            min-height: 26px;
            height: 26px;
            margin: 0px;
        }

        .vselect__value-container {
            height: 24px;
            padding: 0px;
        }

        .vselect__indicators {
            height: 24px;
            font-size: smaller;
        }
    }

    .vselect {
        line-height: 1.3;

        :hover {
            border-color: $vselect-hover;
        }
    }

    .vselect__indicators {
        margin-right: 6px;
        font-size: 12px;
    }

    .vselect__menu {
        .vselect__option {
            &:hover {
                background-color: $text-color-selected;
            }
        }

        .vselect__option--is-selected {
            background-color: $text-color-selected;
            color: $text-color;
            font-weight: bolder;
        }
    }

    .vselect__control {
        min-height: 24px;

        border-color: $text-color-frame !important;

        .vselect__placeholder {
            color: #bfbfbf;
            margin-left: 6px;
        }

        .vselect__value-container {
            padding-left: 4px;
        }

        &.vselect__control--is-focused {
            border-color: #1890ff;
            -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
            box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
        }
    }

    .vselect__clear-indicator {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .vselect__single-value {
        padding-left: 5px;
        color: $text-color;
    }

    .vselect__multi-value {
        background-color: $text-color-selected;
        height: 22px;

        .vselect__multi-value__label {
            font-size: $text-size;
            color: $text-color;
            padding-left: 9px;
            line-height: 15px;
        }

        .vselect__multi-value__remove {
            color: $text-color-lighter;
            padding-left: 0px;
            margin-bottom: 1px;
        }
    }

    &.vselectbox-single {
        .vselect__dropdown-indicator {
            padding-left: 0px;
            padding-right: 5px;
        }

        .vselect__clear-indicator,
        .vselect__indicator-separator {
            visibility: hidden;
        }
    }

    &.vselectbox-single,
    &.vselectbox-multi {
        &:hover {
            .vselect__clear-indicator {
                visibility: visible;

                svg {
                    height: 14px;
                    width: 14px;
                }
            }
        }
    }

    &.vselectbox-multi {

        .vselect__clear-indicator,
        .vselect__indicator-separator {
            visibility: hidden;
        }
    }


    &.readonlybox,
    &.readonlybox-unlocked {

        .vselect__dropdown-indicator {
            padding-right: 23px;
            padding-top: 10px;
        }

        .vselect__menu {
            cursor: not-allowed;

            .vselect__option {
                pointer-events: none;
            }
        }

        .vselect__multi-value {
            padding-right: 5px;
        }

        .vselect__multi-value__remove {
            display: none;
        }
    }

}

.listbox {
    display: flex;
    margin-top: 8px;
    margin-bottom: 15px;

    .list-droppable:last-child {
        margin-bottom: 0px !important;
    }

    >.ant-form-item-label {
        min-height: 28px;
        max-height: 28px;
    }

    &.horizontal {
        flex-direction: row-reverse;

        .bar {
            flex-direction: column-reverse;
            border-left: 1px solid #eeeeee;
            margin-top: 2px;
            padding-left: 10px;

            .controls {
                margin-bottom: auto;

                i {
                    font-size: larger;
                    color: $primary-color;
                }
            }
        }

        .items {
            padding: 0 5px;
        }


    }

    &.vertical {
        flex-direction: column;

        .bar {
            flex-direction: row;
            line-height: normal;
            padding: 5px;
            border-top: 1px solid $text-color-lightest;
            border-bottom: 1px solid $text-color-lightest;

            .controls {
                margin-left: auto;

                button {
                    font-size: smaller;
                    padding: 0px 10px;
                    height: 25px;
                }
            }
        }

        .items {
            padding: 0 5px;
        }
    }

    .bar {
        display: flex;
        align-items: center;

        .controls {
            button {
                padding: 0px;
                border: none;
            }
        }
    }

    .items {
        flex-grow: 2;
        overflow: auto;

        .empty {
            text-align: center;
            padding-top: 5px;
            color: $text-color-lighter;
        }
    }

    //  table list specifics

    .ant-table-row {

        // slimmer cells
        td {
            padding: 10px 5px;
            vertical-align: top; // default is center
        }
    }

    .ant-table {
        *:hover {
            button {
                background: transparent !important;
                transition: all 0s, border 0s;
            }
        }
    }

    .tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td,
    .ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td,
    .ant-table-tbody>tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td {
        background: $text-color-selected;
    }

    .ant-table-thead {
        th {
            text-transform: capitalize;
            background: white;
            font-weight: 400;
            border-bottom: 1px solid $text-color-lightest;
            min-height: 32px;
            padding: 5px;
        }

        .ant-table-column-sort {
            background: white;
        }

        *::before,
        *:hover {
            // no-background change on color
            background: white !important;
        }
    }

    .ant-table-header {
        background: white !important;
        border-bottom: 1px solid $text-color-lightest;
        padding: -1px;
    }

    .ant-table-fixed-right {
        box-shadow: -2px 0 2px -2px $text-color-lightest;
    }

    .ant-table-fixed-left {
        box-shadow: -2px 0 2px -2px $text-color-lightest;
    }

    .table-controls-column {
        white-space: nowrap; // stays on one line

        .flex-controls {
            display: flex;
            align-items: center; // children are level
            justify-content: flex-end; // aligned to right
        }
    }
}

.item {
    padding: 10px 0;
    border-bottom: 1px solid $text-color-lightest;
    display: flex;
    align-items: center; // children are level
    justify-content: flex-end; // aligned to right

    &:hover {
        background: $text-color-selected;

        button {
            background: transparent;
            transition: all 0s, border 0s;
        }
    }
}

.item-disabled {
    cursor: not-allowed;

    div {
        cursor: not-allowed;
    }

    span {
        cursor: not-allowed;
    }

    button {
        background: white !important;
    }
}

.item-disabled:hover {
    background-color: white;
}

.item-content {
    flex-grow: 2;
    display: flex;
    cursor: pointer;
}

.item-controls {
    display: flex;
    align-items: center;
    margin-bottom: auto; // always at the top of row, regardless of how tall sibling cells are.

    i {
        margin-left: 8px;
    }

    button {
        padding: 0px;
        height: 22px;
        border: none;
    }

    .badges {
        padding-left: 5px;

        .ant-tag {
            color: white;
            font-size: smaller;
            font-variant: small-caps;

            &.new {
                color: $success-color;
            }

            &.mod {
                color: $primary-color;
            }

            &.invalid {
                color: $error-color;
            }
        }

        .ant-tag:last-child {
            margin-right: 0px;
        }
    }
}

.table-read-only {
    div {
        cursor: not-allowed;
    }

    table {
        .ant-table-row {
            cursor: not-allowed;

            td {
                button {
                    background-color: white !important;
                }
            }
        }
    }

    tr:hover {
        background-color: white !important;
    }
}

.colorbox {
    .colorbox-value {
        margin-top: 4px;
        margin-bottom: 6px;

        width: 46px;
        height: 24px;
        padding: 5px;
        border-radius: 4px;
        box-shadow: $text-color-frame 0px 0px 0px 1px;
        cursor: pointer;

        .colorbox-value-inner {
            width: 36px;
            height: 14px;
        }
    }

    .colorbox-popover {
        position: absolute;
        z-index: 2;
    }

    .colorbox-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.sliderbox {
    .sliderbox-wrapper {
        display: flex;

        &.sliderbox-flex {
            align-items: center;

            .ant-slider {
                flex-grow: 1;
            }
        }
    }

    .ant-slider-mark-text {
        //font-size: $text-size-smaller;
        font-variant: small-caps;

        // .ant-slider {
        //     min-width: 500px;
        // }
    }

    .ant-form-item-label {
        padding-bottom: 0px !important;
    }

    .content-vals {
        padding-top: 3px;
    }
}

.has-error {
    .simplebox {
        border-color: $error-color;
    }
}

.has-warning {
    .simplebox {
        border-color: $warning-color;
    }
}

.simplebox {
    border: 1px solid $text-color-frame;
    border-radius: 4px;
    padding: 0px 10px;
    background: white;
    min-height: 30px;
    line-height: 30px;
}

.radiobox {
    .ant-radio-group {
        margin-top: 5px;
        margin-left: 5px;
    }
}

.form-field-inactive {
    .ant-form-item-label {
        label {
            text-decoration: line-through;
        }
    }
}

.vselect__menu {
    z-index: 2 !important;
}

.button-lock {
    background-color: transparent !important;
}





.html-snippet {

    p {
        margin-bottom: 0px;
    }

    a {
        cursor: pointer;
        color: $primary-color;
    }

    a:hover {
        text-decoration: underline;

        // padding: 2px;
    }
}

.content-vals {
    color: $text-color-lighter;
    margin-left: 8px;
    min-width: 22px;
}

div[draggable='true'] {
    user-select: text;
}

.ql-align-right {
    text-align: right;
}

.ql-align-center {
    text-align: center;
}

.ql-align-left {
    text-align: left;
}

.ql-align-justify {
    text-align: justify;
}