@import "../common.scss";

// -------------------------------------------------------------------------------  <Icon>

.anticon {

    // custom link icon.
    &.link-icon {
        color: $text-color-lighter !important;

        :hover {
            color: $primary-color;
        }
    }

    // custom link icon.
    &.check-icon {
        color: $success-color;
    }

    // custom error icon.
    &.error-icon {
        color: $error-color !important;
    }

    //  removal icons show as warnings.
    &.remove-entry-icon {
        color: $warning-color;
    }

    //  In react-icons, feather icons need a transparent fill.
    &.fi {
        svg {
            fill: transparent;
        }
    }
}

// -------------------------------------------------------------------------------  <Tooltip>

.ant-tooltip {
    &.error-tooltip {
        .ant-tooltip-inner {
            color: $warning-color;
        }
    }
}

.tooltip-auto {
    .ant-tooltip-inner {
        width: max-content
    }
}

// -------------------------------------------------------------------------------  typography>

.ant-typography {

    white-space: break-spaces;

    &.text-error {
        color: $error-color !important;
    }

    &.text-warning {
        color: $warning-color !important;
    }

    &.text-primary {
        color: $primary-color !important;
    }

    &.text-success {
        color: $success-color !important;
    }

}

// -------------------------------------------------------------------------------  <Switch>

.ant-switch-checked {
    background: $success-color !important;
}

// -------------------------------------------------------------------------------  <Button>

//  our customisations: left|right icons, border-less, dark mode, small-size.

.ant-btn {
    .anticon+span {
        margin-left: 4px !important; // margin when icon is to the left.
    }

    span+.anticon {
        margin-left: 4px !important; // margin when icon is to the right.
    }
}

// darkmode may be on-demand (attribute 'dark' on element), or implicit (in sidebar panel).

.ant-btn.dark,
.sidebar-panel .ant-btn {
    color: inherit !important; // inherit theme color.

    background: transparent !important; // no fill.

    &:hover {
        color: $darktheme_color_emphasis !important;
    }

    &[disabled] {
        color: $darktheme_color_disabled !important;
    }

    .ant-badge-dot {
        box-shadow: 0 0 0 1px $error-color;
    }
}

// borderless may be on-demand (attribute 'noborder' on element), or implicit (in sidebar panel).

.noborder>.ant-btn,
.ant-btn.noborder,
.ant-btn.btn-light,
span.btn-light button,
.sidebar-panel .ant-btn {
    border: none;
    box-shadow: none !important;

    padding: 0px;

    &[disabled] {
        background: transparent !important;
    }

    &:after {
        display: none !important; // disables click animation.
    }
}

// small size may be on-demand (attribute 'size' on element), or implicit (in sidebar panel).

.ant-btn.ant-btn-sm,
.sidebar-panel .ant-btn {
    line-height: 1; // center text in narrower button.

    * {
        font-size: $text-size-smaller;
    }

    &.dotted {
        padding-right: $text-size-smaller;
    }
}

.ant-btn.ant-btn-sm {
    min-height: 28px;
    max-height: 28px; // won't grow nor shrink.
}

.sidebar-panel .ant-btn,
.ant-btn.ant-btn-xsm {
    min-height: 24px;
    max-height: 24px; // won't grow nor shrink.
}

// in sidebar panel, buttons are even narrower and primary buttons are prominently spaced.

.sidebar-panel .ant-btn {
    &.ant-btn-primary {
        margin-bottom: 20px !important; // primary button should occur first, well apart from others.
    }
}

.ant-btn:hover {
    .remove-entry-icon {
        color: $error-color;
    }
}

.btn-unlocked,
.btn-locked {
    font-size: 26px;

    &.small {
        font-size: 20px;
    }

    &.btn-unlocked:not([disabled]) {
        color: darken($success-color, 5);
    }

    &.btn-locked:not([disabled]) {
        color: $warning-color;
    }
}

// this goes in overlay
.btn-lock-inactive-explainer {
    color: $warning-color;
}

// // -------------------------------------------------------------------------------  notifications

.Toastify__toast-container {
    width: max-content !important;
    max-width: 650px;
}

.apprise-notification.Toastify__toast {
    padding: 16px 24px 16px 24px;
    border-radius: 4px;

    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    font-size: 16px;

    .Toastify__toast-body {
        .toaster-container {
            display: flex;
            align-items: center;

            .toaster-icon {
                font-size: 24px;
                margin-right: 15px;
            }

            .toaster-message {
                padding-right: 70px;
            }

            .toaster-button {
                padding-left: 10px;
            }
        }
    }

    &.Toastify__toast--info {
        color: rgba(0, 0, 0, 0.85);
        background: white;
    }
}

// -------------------------------------------------------------------------------  <Spin>

// spinners must expand into parent to support autosized componenents, primarily tables.
.ant-spin-nested-loading,
.ant-spin-spinning,
.ant-spin-container {
    height: 100%; // grows in fixed parents and most flex parents.
    flex-grow: 1; // grows in some flex parents (webkit).
}

.ant-spin-nested-loading>div>.ant-spin {
    max-height: 800px !important;
    position: fixed;
}

.ant-drawer-content {
    .ant-spin-nested-loading>div>.ant-spin {
        position: absolute;
    }
}

.ant-spin-blur {
    overflow: inherit; // or it will conflict with sticky topbars.
}

// .ant-spin-text {
//     background: rgba(255,255,255,0.8);
// }

.error {
    color: $error-color !important;
}

.label-decoration {
    +.label-decoration {
        margin-left: 2px;
    }

    //  used also in external <Label>'s wrappers.

    margin-left: 5px;
    color: $text-color-lighter;

    // custom link icon.
    .note-icon {
        font-size: 11px;
    }

    // custom stop icon.
    .inactive-icon {
        color: lighten($warning-color, 20);
        font-size: 12px;
    }
}

.label {
    .label-main {
        display: flex;
        align-items: center;
    }

    .label-icon {
        color: $primary-color;
        margin-right: 5px;
    }

    .label-title {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .label-option {
        margin-left: 3px;

        opacity: 0;
        transition: opacity 0.5;
    }

    &:hover .label-option {
        opacity: 1;
    }

    &.label-selected {
        .label-title {
            color: $app-color !important;
        }
    }

    &.label-disabled {
        color: $text-color-disabled !important;

        .label-link {
            color: $text-color-disabled !important;
        }
    }
}

.label-tag {
    background: white;

    a:hover {
        color: $primary-color;
    }

    &.disabled {
        color: $text-color-disabled;
    }
}

.ant-spin-text {
    margin-top: 20px;
    text-shadow: none !important;
}

.action-menu-item {
    display: flex;
    align-items: center;

    .item-name {
        flex-grow: 2;
        padding-right: 10px;
    }
}

.action-group.action-group-with-menu {
    white-space: nowrap; // fixes 'bouncing loop' at narrow screen sizes.
}

.covering {
    height: 100vh;
    margin: 0;
}

.blackscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    overflow: auto;
}

.bullseye {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sheet {
    display: flex;
    flex-direction: column;
    padding-top: 30px;

    .sheet-row {
        padding-bottom: 30px;
        display: flex;

        .sheet-label {
            min-width: 20%;
            max-width: 20%;
            margin-right: 15px;

            text-align: right;
            font-variant: small-caps;
        }

        .sheet-value {
            flex-grow: 2;
        }
    }
}

.slideout {

    .ant-spin-nested-loading,
    .ant-spin-container {
        display: flex;
        flex-direction: column;
    }

    .apprise-controlbar {
        padding: 0px;
        background: white;
    }

    .ant-drawer-header {
        top: 0;
        position: sticky; // won't scrolls past top-edge of window

        z-index: 1000; // everything else should scroll below it.

        height: 64px;
        min-height: 64px;
        width: 200; // stretches for the length of the drawer.

        padding: 10px 15px; // uses more available space than default

        display: flex;
        align-items: center; // contains a row of vertically-aligned children.

        .ant-drawer-title {
            flex-grow: 1; // stretches to fill the space.

            overflow: hidden; // guards against dynamic content.
            white-space: nowrap;

            .ant-typography {
                // need overflow also inside typography.

                text-overflow: ellipsis;
                overflow: hidden;
            }

            i {
                color: $app-color;
            }
        }
    }

    .ant-drawer-wrapper-body {
        display: flex;
        flex-direction: column; // prepares for single stretched body.

        .ant-drawer-body {
            flex-grow: 1; // stretched vertically, to allow for autosized content.

            padding: 0px 20px 20px; // removes padding from top, to make for topbars and other sticky content.

            // flexes for children.
            display: flex;
            flex-direction: column;
        }
    }
}

.vtable-mini {
    margin-top: 5px;
    width: 100%;
    height: 100%;
    min-height: 200px;
    text-align: left;

    .vtable-bar {
        margin-bottom: 10px;

        .vtable-bar-search {
            background: $sidebar-panel-background;
            border-radius: 10px;

            .table-search-box {
                width: 80%;
                color: inherit;

                * {
                    font-size: 12px;
                    height: 25px;
                    color: inherit;
                    border: none;
                    background: $sidebar-background;
                }

                .ant-input:focus {
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }

                .ant-input-suffix {
                    display: none;
                }
            }

            .table-search-badge {

                &.badge-right {

                    margin-left: 5px;

                }

                margin-bottom: 2px;

                .ant-badge-count {
                    width: 10px;
                    min-height: 20px;
                    height: 20px;
                    line-height: 20px;
                    font-size: 11px;
                    box-shadow: none;
                    color: inherit;
                    background: none;
                }

                &.filter-active .ant-badge-count {

                    box-shadow: 0px 0px 5px 1px cadetblue;

                }
            }
        }
    }

    .BaseTable {
        background: inherit;
        box-shadow: none;
    }

    .BaseTable__table-main {
        background: inherit;
        outline: none;
    }

    .BaseTable__empty-layer {
        background: transparent;

        * {
            height: 30px;
            font-size: 12px;
            color: $darktheme_color2;
        }
    }

    .table-row {
        background: inherit;
        border: none;
        font-size: 12px;
        text-align: left;
    }

    .BaseTable__header,
    .table-header {
        display: none;
    }

    .BaseTable__row-cell {
        padding: 10px !important;
    }

    .BaseTable__row:hover {
        background: transparent;
    }

    .BaseTable__row-cell:hover {
        * {
            color: inherit;
        }
    }
}

.vtable-bar {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5px 0 15px;

    .vtable-bar-search {
        flex-grow: 1;
        white-space: nowrap;
        display: flex;
        align-items: center;

        .table-search-box {
            width: 200px;
        }



        .table-search-badge {

            margin-bottom: 0px;

            &.badge-left {
                margin-right: 8px;
            }

            &.badge-right {
                margin-left: 8px;
            }

            &.filter-active .ant-badge-count {

                box-shadow: 0px 0px 8px 1px cadetblue;

            }

            .ant-badge-count {

                width: 30px;
                min-height: 30px;
                height: 30px;
                line-height: 30px;
                border-radius: 5px;
                background-color: darken($primary-color, 10);

                &.ant-badge-multiple-words {
                    padding: 0;
                }
            }


        }
    }

    .vtable-bar-decorations,
    .vtable-bar-filters {
        //  margin-left:20px;
        display: flex;
        align-items: center;

        .vtable-bar-inner-decoration,
        .vtable-bar-inner-filter {
            margin-left: 10px;
        }

        .ant-checkbox-checked .ant-checkbox-inner {
            background: $success-color;
        }
    }
}

.vtable {
    height: 100%; // bleeds in sized parents and most flex ones.
    width: 100%;
    flex-grow: 1; // bleeds in some flex parents (height wouldn't in webkit alone)
    display: flex;
    flex-direction: column;

    .BaseTable__row:hover {
        * {
            background: text-color-selected;
        }
    }


    .ant-empty.filter-active {

        svg,
        g {
            stroke: cadetblue;
        }

        color:cadetblue;
    }

    .BaseTable__row-cell {
        .ant-dropdown-trigger {
            // action dropdown is full borderless.

            border: none;
            box-shadow: none;
        }
    }

    .table-rows {
        box-shadow: none !important;

        * {
            outline: none;
        }
    }

    .vtable-body {
        flex-grow: 1;
    }

    .vtable-header {
        display: flex;
        flex-grow: 1;
        align-items: center;
        height: 100%;

        .vtable-header-content {}

        .vtable-header-sort {
            margin-left: 5px;
            font-variant: small-caps;
            font-weight: 400;
            color: $primary-color;
        }
    }

    .vtable-cell {
        display: flex;
        width: 100%;

        .vtable-cell-data {
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .vtable-cell-decorations {
            margin-left: 10;
            white-space: nowrap;

            i {
                margin-left: 3px;
                color: $text-color-lighter;
            }
        }
    }

    .table-header {
        // border-top: 1px solid $gray-1;
        background: white;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        border: none;

        .table-action-icon {
            padding-left: 6px;
            padding-right: 3px;
            font-size: 16px;
            color: $primary-color;
        }

        .BaseTable__sort-indicator {
            color: $primary-color;
        }

        .BaseTable__column-resizer {
            background-color: $primary-color;
        }

        .ant-badge-count {

            background: $text-color-lighter;
            font-size: 10px;
            padding: 0px 5px;
            line-height: 16px;
            height: 16px;
            min-width: 16px;
        }
    }

    .ant-btn-icon-only {
        width: 24px;
        height: 24px;

        background: transparent;
    }

    .table-selection-checkbox .ant-checkbox-checked .ant-checkbox-inner {
        background: $success-color;
    }

    .vtable-readonly {
        color: $text-color-disabled;
    }

    .droppable.vtable-row {
        .table-row {
            padding-top: 0;
        }

        .dragging {
            opacity: 0.5;
        }

        &.hovered {
            .table-row:not(.dragging) {
                padding-top: 15px;
                transition: padding-top 0.2s;
                border-top: 2px solid rgba($primary-color, 0.5);
            }
        }
    }
}

.droppable.vtable-placeholder {
    height: 30px;
    position: relative;
    top: -10px;

    &.hovered:not(.dragging) {
        border-top: 2px solid rgba($primary-color, 0.5);
    }
}

// ------------------------------------ cardlist

.listbox {
    display: flex;
    flex-direction: column;


    .list-placeholder {
        text-align: center;
        background: lighten($text-color-lightest, 0.9);
        padding: 20px;
        border-radius: 6px;

        button {
            background: transparent;
            color: $text-color-lighter;
        }
    }

    .list-label {
        display: flex;
        align-items: center;

        .list-topbar {
            margin-left: auto;
            min-height: 25px;
        }
    }

    .list-add {
        display: flex;
        justify-content: flex-end;
        // margin-right: 22px;
        padding-top: 5px;
        min-height: 25px;
    }

    .list-droppable:not(:first-child) {
        margin-top: 10px;
    }

    .list-droppable:last-child {
        margin-bottom: 10px;
    }

    .list-row {
        display: flex;

        .list-item {
            flex-grow: 1;
        }

        .list-bar {
            margin-left: 2px;
            padding-left: 5px;
            min-width: 20px;
        }
    }

}

.backwardinfinitelist {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: flex-end;

    position: relative;

    .list-contents {
        flex-grow: 1;
        width: 100%;
    }

    .bil-nodata {
        height: 50%; // centers content in flex parent.
    }

    .bil-unseen-indicator {
        &.active {
            visibility: visible;
            opacity: 1;
        }

        position: absolute;
        top: 55px;
        right: 30px;
        z-index: 100;

        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .bil-scroll-indicator {
        &.active {
            visibility: visible;
            opacity: 1;
        }

        i {
            color: $primary-color;
        }

        position: absolute;
        top: 15px;
        right: 30px;
        z-index: 100;

        visibility: hidden;
        opacity: 0;
        transition: opacity 1s;
    }

    .bil-batch-loader {
        &.active {
            height: 50px;
        }

        position: absolute;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 18px;
        top: 10px;
        z-index: 100;
        background: rgba(255, 255, 255, 0.8);

        height: 0px;
        overflow: hidden;

        transition: height 0.2s;

        color: $text-color-lighter;

        font-size: small;

        display: flex;
        justify-content: center;
        align-items: center;

        i {
            margin-right: 5px;
        }
    }
}

.label-strikethrough {
    text-decoration: line-through;
}

.sidebar-panel .label {
    .label-selected {
        color: $app-color;
    }

    .label-icon {
        color: $app-color;
    }
}

.option-menu-icon {

    &.no-highlight {
        i {
            color: $primary-color;
        }
    }
}

.disabled {
    color: $text-color-disabled;
}

// ACCORDIO START
.collapse {
    --padd: 0px;
    --size: auto;
    --min-size: auto;
    --duration: 300ms;

    will-change: width, height;
    overflow: hidden;
    display: flex;
    z-index: 1;

    &>* {
        height: 100% !important;
        margin-top: 0 !important;
    }

    &.transition {
        z-index: 0;
        transition-timing-function: ease-in;

        &.width {
            transition: width var(--duration);
        }

        &.height {
            transition: height var(--duration);
        }

        &.collapsed {
            transition-timing-function: ease-out;
        }
    }

    &.width {
        min-width: var(--min-size);
        width: var(--size);
    }

    &.height {
        min-height: var(--min-size);
        height: var(--size);
        flex-grow: 1;
    }

    &.no-grow {
        flex-grow: 0;
    }
}

a.disabled-link {
    pointer-events: none;
    color: $text-color-disabled;
}


.caplist {

    .caplist-prop {

        padding: 5px 10px;
        border: 1px dotted $text-color-frame;
        border-left: 10px solid $text-color-tinted;

        width: 100%;
        border-radius: 6px;
    }


    .ant-form-item-with-help {
        margin-bottom: 5px !important;
    }

    .ant-form-item-label {

        max-height: 10px !important;
        min-height: 10px !important;
    }
}