@import '#app/common.scss';


.label.category-label {

    .label-icon {
        // corrects the misalignment of the square dot icon.
        padding-top: 1px
    }
}

.tagrefbox {

    .listbox {

        .ant-form-item-control {
            line-height: 1;
        }

    }

    .tag-combinator {

        margin-right: 3px;

        &.ant-select {
            width: auto;

            .ant-select-selection__rendered {
                margin-right: 8px;
                display: flex;
                justify-content: flex-end;
            }
        }


    }


}

.fake-button:hover {
    cursor: not-allowed;
}

.taglist-container {


    .truncated-list {
        display: flex;
        margin: 0;
        padding: 0;

        li {
            display: inline;
        }

        li:nth-last-child(2) {
            .ant-tag {
                margin-right: 0;
            }
        }
    }

}

.ant-tooltip.taglist-overflow {


    .ant-tooltip-inner {
        background: $darktheme_color2;
    }

}

.tag-boxes {

    .tag-box {
        padding: 5px 10px;
        border: 1px dotted $text-color-frame;
        border-left: 6px solid $text-color-tinted;
        display: flex;
        width: 100%;
        border-radius: 6px;


        .ant-row {

            margin-bottom: 5px !important;
        }
    }
    .add-btn {
        text-align: end;
    }

    .ant-radio-wrapper {
        line-height: 15px !important;
    }

    .selector {
        padding-top: 6px;
        width: 20%;
        min-width: max-content;
    }

    .list-add {

        margin-top: 5px;
    }

    .field-box {
        width: 80%;
        background-color: lighten($text-color-lightest, 4.5);
        border: 1px solid lighten($text-color-lightest, 0.5);
        border-radius: 4px;
        padding: 6px 6px 0px;
        margin-left: 5px;

    }
}