$app-color: var(--app-color);

$text-size: 14px;
$text-size-smaller: 12px;
$text-size-small: 10px;
$text-size-larger: 16px;
$text-size-large: 18px;
$text-size-largest: 22px;

$text-color: #595959;
$text-color-lighter: #9e9e9e;
$text-color-darker: #4b4a4a;
$text-color-lightest: #eeeeee;
$text-color-disabled: #c2c2c2;
$text-color-selected: #f5f5f5;
$text-color-frame: #d9d9d9;
$text-color-tinted: #dce5eb;

$darktheme_color1: #9e9e9e;
$darktheme_color2: #97afc5;
$darktheme_color_emphasis: white;
$darktheme_color_disabled: #5b6a77;

$iconSize: 22px;                            // app icon, sections, and links.

$sidebar-width: 320px;                      // for doc only so far. antd wants this set in code.
$iconbar-width: 80px;
$header-height: 64px;
$linkitem-height: 45px;

$primary-color: #3896ec;   
$primary-color-dark: #38efac;                      
$success-color: #4fcc12;                         
$warning-color: orange;                         
$error-color: #f5222d;
$light-gray-color: #e8e8e8;   
$light-red-color: #c57579;


$sidebar-background: #001529;
$sidebar-panel-background: desaturate(lighten($sidebar-background, 10%), 50%);
$sidebar-scrollbar-background: desaturate(lighten($sidebar-background, 5%), 50%);
$header-background: #f1f2f5;
$content-background: white;

$ease-in-out : cubic-bezier(0.645, 0.045, 0.355, 1);
$fade : opacity $ease-in-out 0.3s;

$dropdown-hover : #e6f7fe;

$vselect-hover: #40a9ff;


      

