@import '#app/common.scss';


.event-warn {
    color: $warning_color;
}

.lineage-subtitle {

    .subtitle-label {

        display: flex;
        align-items: center;

        .label-title:not(:hover) {
            color: $text-color-darker;
            // text-decoration: underline;
            // color: lighten($primary-color, 10)
        }

    }
}

.branch-drawer {

    .branch-info {
        color: $text-color-lighter;

        div {
            .time {
                color: $text-color;
                margin-left: 10px;
            }
        }

        span {
            color: $primary-color;
        }

        span:hover {
            cursor: pointer;
        }
    }

    .slider {
        padding-left: 15px;
        padding-right: 20px;
    }
}

.missing-dependencies-list {

    padding: 10px;
    background-color: $text-color-selected;
    border: 1px solid $error-color;
    border-radius: 4px;

    >div {
        color: $error-color
    }

    >ul li {

        list-style-type: circle;
        margin-left: 10px;
        margin-top: 10px
    }
}

.liveguard {

    border-radius: 4px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    margin-right: 10px;

    * {
        color: white;
    }
    
    // button {
    //     font-size: 16px;
    // }

    &.liveguard-guarded {

        background: #3fa6c5; 

        &:hover  {

            background: darken(#3fa6c5, 4);
            cursor: pointer;
        }

    }

    &.liveguard-disabled {

        opacity: .3;
    }


    &.liveguard-unguarded {

        background: $error-color;
   
    }

    .liveguard-label {

        font-variant: small-caps;
    }

    
}

.liveguard-drawer {


    .liveguard-dialog-panel {

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    
        margin: 50px 30px;
    
        font-weight: 300;
    

        .liveguard-dialog-icon {
            margin-top: 20px;
            font-size: 150px;
            margin-bottom: 20px;
            color: $error-color;
        }
    
    
        .liveguard-dialog-section {

            width: 100%;
            margin-top: 80px;
            background: $text-color-selected;
            border-radius: 4px;
            padding: 20px;
      
            display:flex;
            flex-direction: column;
            align-items: center;
    
            .liveguard-dialog-section-title {
                font-size: 24px;
                font-weight: 300;
                margin-bottom: 20px;
            }

            .liveguard-campaigns {

                width: 100%;
                margin: 30px 0 0px;
            }
    
            .liveguard-campaign {

                margin: 10px;
                padding: 10px;
                border-radius: 4px;
                background-color: white;
                display: flex;
                align-items: center;

                button {
                    margin-left: auto
                }


            }
            
        }
    
        .liveguard-campaign-btns {

            margin-top: 30px;
            display: flex;
            align-items: center;
            
            button + button {

                margin-left: 10px;
            }
            
        }
    }
}


.suspend-drawer {


    .suspend-drawer-panel {

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    
        margin: 50px 30px;
    
        font-weight: 300;
    

        .suspend-drawer-icon {
            margin-top: 40px;
            font-size: 150px;
            margin-bottom: 20px;
            color: $warning-color;
        }

        button {
            margin-top: 40px;
        }

        &.drawer-on {

            .suspend-drawer-icon {
                color: $warning-color;
            }
            
            button:not([disabled]) {

                background: $warning-color;
                color: white
            }
        }

        &.drawer-off {

            .suspend-drawer-icon {
                color: $primary-color;
            }
            
        }

    }
}

.mute-drawer {


    .mute-drawer-panel {

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    
        margin: 50px 30px;
    
        font-weight: 300;
    

        .mute-drawer-icon {
            margin-top: 40px;
            font-size: 150px;
            margin-bottom: 20px;
            color: $warning-color;
        }

        button {
            margin-top: 40px;
        }

        &.drawer-on {

            .mute-drawer-icon {
                color: $warning-color;
            }
            
            button:not([disabled]) {

                background: $warning-color;
                color: white
            }
        }

        &.drawer-off {

            .mute-drawer-icon {
                color: $primary-color;
            }
            
        }

    }
}

.archive-drawer {


    .archive-drawer-panel {

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    
        margin: 50px 30px;
    
        font-weight: 300;
    

        .archive-drawer-icon {
            margin-top: 40px;
            font-size: 150px;
            margin-bottom: 20px;
            color: $primary-color;
        }

        button {
            margin-top: 40px;
        }

    }
}




.label {

    .ant-btn.load-campaign {

        color:$warning-color;
    }

    &.unresolved {

        * {
            color:$text-color-lighter;
        }
    }

    &.status-only {

        &.campaign-started{

            background:$success-color;
            
            * {
                color:white
            }
        }

        &.campaign-ended {

            background:$text-color-tinted;

            * {
                color: $text-color
            }
        }

    }

    &.campaign-started{

        i {

            color :darken($success-color,5)
        }
    }

    &.campaign-ended {

        color: $text-color-lighter
    }

    &.campaign-suspended {
        background:lighten($warning-color, 3);
            
            * {
                color:white
            }
    }

    &.campaign-muted {
        background:darkslategray;
            
            * {
                color:white
            }
    }

    &.campaign-archived {
        background:black;
            
            * {
                color:white
            }
    }
}

.long-tooltip {

    max-width: 600px;
}

.campaign-icon {

    font-size:18;
    padding-top:4;
    
    &.closed {
        color: lighten($primary-color,25);
    }

    &.open {
        color: darken($success-color,5);
    }
}

.campaign-lineage{
    background-color: $primary-color;
    
    .label-link:hover {
        color: $text-color-lightest
    }

    .label-link {
        color: white;
    }

    .label i {
        color: white;
    }

    &.label {
        &.campaign-started{

            i {

                color :white;
            }
        }

        i {

            color :white;
        }
    }
}

.submission-filter-status {

    .ant-dropdown-menu {
        max-height: 300px;
    }
}