@import '../common.scss';

.disconnectbadge {

    border-radius: 6px;
    background: orangered;
    color: white !important;
    padding: 0px 7px;
    line-height: 24px;
    height: 23px;
    margin-top: 22px;
}


.connectbadge {

    border-radius: 6px;
    background: $success-color;
    color: white !important;
    padding: 0px 7px;
    line-height: 24px;
    height: 23px;
    margin-top: 22px;
    
}

.disconnectbadge {

    border-radius: 6px;
    background: orangered;
    color: white !important;
    padding: 0px 7px;
    line-height: 24px;
    height: 23px;
    margin-top: 22px;
}

.upgradebutton {

    border-color:orangered !important;
    background: orangered !important;
    color: white !important;
    margin-top: 17px;

    &:hover {

        background: red;
        border-color:red;
    }
}