@import '#app/common.scss';

.ql-mention-list-container {
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 12px 0 rgba(30, 30, 30, 0.08);
  z-index: 9001;
}

.ql-mention-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ql-mention-list-item {
  cursor: pointer;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  padding: 0 20px;
  vertical-align: middle;
}

.ql-mention-list-item.selected {
  background-color: #d3e1eb;
  text-decoration: none;
}

.mention {
  height: 24px;
  width: 65px;
  background: rgba($text-color-tinted,.3);
  padding: 2px 2px;
  margin-right: 2px;
  border-radius: 3px;
  border: 1px solid rgba($text-color-lighter,.4);

}

.mention > span {
  margin: 0 3px;
}
