@import '#app/common.scss';


.fixed-row {
    background: $text-color-selected;
}

.preview-parameter-title {

    margin-bottom: 5px;

}


.parameter-panel {

    flex-grow: 1;
    display: flex;
    flex-direction: column;

    overflow: auto;

    .page-form {

        padding-top: 0px;
    }

    // fixes quill glitch in this context.
    .ql-snow .ql-formats {
        display: inherit;
        margin: 0px;
    }

    .ant-form {

        padding: 0px;

        .ant-form-item {

            margin: 3px; // compact view

            .ant-form-item-control {

                &.has-warning,
                &.has-error {

                    .ant-form-explain {

                        min-height: 20px;

                        .ant-typography {

                            height: 20px;
                            transition: height .2s linear; // transition text (smooth collapse)

                        }
                    }
                }

                .ant-form-explain {

                    margin-bottom: 0px;

                    font-size: $text-size-small;
                    min-height: 0px;

                    transition: min-height .2s linear; // transitions container

                    .ant-typography {
                        height: 0px;
                    }

                }
            }

        }

        .ant-form-item-label label {
            font-size: $text-size-smaller;
            display: flex
        }

        .ant-form-item-children {
            * {
                font-size: $text-size-smaller;
            }
        }
    }


}



.parameter-label {



    .parameter-editable {

        display: flex;
        align-items: center;
    }

}

.livedata {

    color: darken($primary-color, 50);

    pre {

        white-space: pre-wrap;
    }
}

.param-value {

    background: rgba($text-color-tinted, .3);
    padding: 2px 2px;
    border-radius: 3px;
    border: 1px solid rgba($text-color-lighter, .4);

    .error {

        color: $error-color;
    }

    &.unresolved {

        background: rgba($warning-color, .2);

    }


}

.param-number {

    .ql-toolbar {
        display: none;
    }

    .ql-container {
        border-top: 1px solid #ccc !important;
        border-radius: 4px;
    }

    .ql-editor {
        
        border-top: none;
    }
}

.param-color {

    .colorbox-value {

        width: 70px;
        height: 70px;

        .colorbox-value-inner {
            width: 60px;
            height: 60px;
        }
    }


}

.color-label {

    padding: 5px;
    width: 24px;
    height: 24px;
    border: 1px solid $text-color-tinted;

    .color-label-inner {

        width: 12px;
        height: 12px;
    }
}


.livedata {

    color: darken($primary-color, 20);

    * {
        color: darken($primary-color, 20) !important;
    }

    a {
        text-decoration: underline;
    }

}