@import '#app/common.scss';


.event-list {

    .list-droppable:not(:first-child) {
        margin-top: 10px;
    }


}

.relative-link {

    .anticon.link-icon {
        color: $primary-color !important;
    }
}

.start-row {
    border-top: 2px solid $success-color
}

.end-row {
    border-bottom: 2px solid $success-color
}

.event-card {

    &.warn {
        border-color: $error-color;
    }

    &:not(.temporal-card) {
        background: $text-color-tinted;
    }

    border-radius: 4px;
    border: 1px dashed $text-color-frame;
    padding: 5px;
    background: $text-color-selected;

    .card-name {

        flex-grow: 1;

        .ant-select-selection__placeholder {

            font-size: small;
        }

    }

    .card-date {

        margin-top: 5px;

        .ant-calendar-picker {
            width: 100%
        }

        .datebox {
            margin-bottom: 0px;
        }
    }

    .card-add-related {

        margin-top: 5px;
        flex-grow: 1;

        display: flex;
        justify-content: flex-end;

        .ant-btn {
            color: $primary-color
        }
    }

}


.card-error-message {

    height: 0px;
    transition: height .4s ease-in-out;

    &.message-show {

        height: 24px;
        color: $warning-color;
    }
}

.event-decoration {
    color: $primary-color;
}

.notified-check {
    margin-left: 20px;

    .notified-check-icon {
        color: $success-color;
    }
}

// overrides over error rendering for internal fields.
.has-error {
    .datebox-frame {
        border-color: $error-color !important;
    }

    .ant-select-arrow,
    .vselectbox .vselect__indicator i {
        color: $text-color-frame !important;
    }
}

.has-warning {
    .datebox-frame {
        border-color: $warning-color !important;
    }

    .ant-select-arrow,
    .vselectbox .vselect__indicator i {
        color: $text-color-frame !important;
    }
}

.datebox {
    .datebox-frame {
        transition: height 0.3s;

        border: 1px solid $text-color-frame;
        border-radius: 4px;
        background: white;

        .ant-select {
            color: $text-color-lighter;
            font-weight: 300;

            .ant-select-selection {
                font-variant: small-caps;
            }
        }

        .ant-select,
        .ant-calendar-picker {
            display: block;
        }

        .ant-select-selection,
        .ant-calendar-picker-input,
        .ant-input-number,
        .vselect,
        .vselect__control {
            border: none;

            &:hover,
            &:focus,
            &:active {
                box-shadow: none;
            }
        }

        .datebox-type {
            min-width: 110px;
            width: 110px;

            border-right: 1px solid $text-color-frame;
        }

        .datebox-branch-type {
            min-width: 125px;
            width: 125px;
            margin-left: 10px;

            .ant-select-selection__rendered {
                margin-left: 1px !important;

                .label-title {
                    padding-bottom: 3px;
                }
            }

            // border-left: 1px solid $text-color-frame;
        }

        .datebox-absolute {
            display: flex;
            overflow: hidden;

            .time-picker {
                flex-grow: 1;

                border-right: 1px solid $text-color-frame;
            }

            .absolute-decoration {
                color: $text-color-lighter;
                line-height: 32px;
                position: relative;
                top: 1px;
                margin-right: 8px;
                transform: scale(1);

                &.decoration-unselected,
                &.decoration-disabled {
                    color: darken($text-color-lightest, 5);
                }

                &:not(.decoration-disabled) {

                    &.decoration-selected {
                        color: $app-color;
                    }

                    :hover {
                        color: $primary-color;
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                }
            }

            .event-none-wrapper {
                margin-left: 15px;
                margin-right: 10px;

                .ant-checkbox-wrapper {
                    span {
                        font-variant: small-caps;
                        opacity: 1;
                        font-weight: 300;
                        color: $text-color-lighter;
                    }

                    .ant-checkbox {

                        &.ant-checkbox-checked::after {
                            font-size: 6px;
                        }
                        .ant-checkbox-inner {
                            width: 13px;
                            height: 13px;
                        }

                        .ant-checkbox-inner::after {
                            transform: rotate(45deg) scale(0.85) translate(-55%, -50%) !important;
                        }
                    }
                }
            }
        }

        .datebox-relative {
            .databox-period {
                display: flex;

                .datebox-number {
                    min-width: 60px;
                    width: 60px;

                    border-right: 1px solid $text-color-frame;
                    border-radius: 0px;

                    &.ant-input-number-focused {
                        box-shadow: none;
                    }
                }

                .datebox-unit {
                    border-right: 1px solid $text-color-frame;
                    flex-grow: 1;
                }

                .datebox-direction {
                    flex-grow: 1;
                }
            }

            .datebox-target {
                border-top: 1px solid $text-color-frame;
                height: 32px;
            }

            .datebox-preview {
                line-height: 32px;
                overflow: hidden;
                background: white;

                transition: height 0.5s;
                border-top: 1px solid $text-color-frame;

                display: flex;

                .preview-text {
                    border-right: 1px solid $text-color-frame;

                    min-width: 110px;
                    padding: 0px 10px;

                    color: $text-color-lighter;
                    font-weight: 300;
                    font-variant: small-caps;
                }

                .preview-date {
                    color: $text-color-lighter;

                    flex-grow: 1;
                    font-size: small;

                    border-right: none;
                    padding: 0px 10px;
                }

                .preview-icon {
                    padding: 0px 10px;

                    i {
                        color: $text-color-frame;
                    }
                }
            }
        }
    }
}

.date-option {
    font-variant: small-caps;
}