@import "#app/common.scss";



.option-panel {

    overflow: hidden;
    max-height: 0px;

    transition: all .3s ease;

    border-radius: 6px;

    background-color: $text-color-selected;

    .panel-inner {

        padding: 15px 10px 0px;
    }

    &.panel-show {

        overflow: visible;
        max-height: 10000px;
        margin-bottom: 20px;

    }

    .mapping-line {

        display: flex;
        align-items: start;

        .line-lbl {

            width: 70px;
            text-align: right;
            font-size: small;
            text-transform: lowercase;
            font-variant: small-caps;

            white-space: nowrap;

            * {
                background: $text-color-tinted;
            }

            margin-right: 2px;
        }

        .line-field {
            width: 100%;
        }
    }

    .option-mapping + .option-mapping {

        margin-top: 15px;
    }
}