@import "#app/common.scss";

.page-card:not(:first-of-type) {
    margin-top: 20px
}

.page-card {
    min-height: 200px;

    padding: 20px 15px 25px;
    background: white;
    border-radius: 4px;

    box-shadow: 0px 2px 5px -4px #717072;

    display: flex;

    .card-contents {
        flex-grow: 1;
        position: relative;

        &.landscape {
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
        }

        .card-contents-inner {
            width: 100%;

            &.landscape {
                width: 140%;
            }
        }

        .component-placeholder {
            flex-grow: 1;
            min-height: 10px;

            &.hovered {
                border: none;
                min-height: 40px;
                background: rgba($primary-color, 0.2);
            }
        }

        .header {
            color: $text-color-lighter;

            h1 {
                font-size: 16px;
                color: $text-color-lighter;
            }

            h2 {
                font-size: 15px;
                color: $text-color-lighter;
            }

            h3 {
                font-size: 14px;
                color: $text-color-lighter;
            }
        }

        .footer {
            color: $text-color-lighter;
            padding-left: 5px !important;

            h1 {
                font-size: 16px;
                color: $text-color-lighter;
            }

            h2 {
                font-size: 15px;
                color: $text-color-lighter;
            }

            h3 {
                font-size: 14px;
                color: $text-color-lighter;
            }
        }

        .document-box {
            color: $primary-color !important;

            .label-option {
                color: $text-color;
            }
        }


    }



    .card-bar {
        display: flex;
        flex-direction: column;

        margin-left: 10px;

        .bar-menu {
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }

        .bar-actions {
            display: flex;
            flex-direction: column;

            opacity: 0;
        }

        .bar-actions:hover,
        .bar-menu:hover+.bar-actions {
            opacity: 1;
            transition: opacity 0.3s;
        }
    }

    .droppable {
        padding-top: 0px;

        &.hovered {
            padding-top: 10px;
            transition: padding-top 0.3s;
            border-top: 2px solid rgba($primary-color, 0.5);
        }
    }

    .title {
        display: block;
    }

    .text {
        display: block;
    }

    h1 {
        font-size: 250%;
        font-weight: 400 !important;
    }

    h2 {
        font-size: 200%;
        font-weight: 400 !important;
    }

    h3 {
        font-size: 130%;
        font-weight: 400 !important;
    }

    img {
        max-width: 100%;
    }
}

// space resets start --------------------------------------------------------------

.page-card {

    .ant-form-item {

        margin-bottom: 0px !important;

    }

    .ant-form-item-with-help {

        margin-bottom: 0px !important;

        .ant-typography p {

            margin-bottom: 0px;
        }
    }

}



.layout-designer.design-mode {
    // design mode

    .page-card {

        .component-preview {

            // caters for border.
            padding: 5px;

        }
Ø

        .droppable + .droppable {

            // caters for bars.
            margin-top: 10px;

        }
    }

}

// space resets end --------------------------------------------------------------


.layout-designer.design-mode {
    .component-preview {

        border: 1px dashed;
        border-color: $text-color-tinted;
        border-radius: 4px;
        padding: 5px;

        &:hover {
            border-color: $primary-color;
            transition: border-color 0.5s;
        }


    }
}

.component-preview.conditionalsection>.component-preview-bar {

    background-color: $text-color-tinted;
}

.component-preview.assetsection>.component-preview-bar {

    background-color: lighten($text-color-tinted, 5);

}


.layout-designer.view-mode {
    // .layout-pages {
    //     width: 80%;
    // }
}

.component-preview {

    display: flex;
    flex-direction: column;

    // margin: 5px;

    .ant-form-item {

        .ant-form-item-label {
           
            .ant-form-item-no-colon {
                color: rgba(0, 0, 0, 0.65) !important;
                font-size: 14px;
            }
        }

        .ant-form-explain {
            .html-snippet {
                // color: rgba(0,0,0,0.65) !important;
                font-size: 13px;
            }
        }
    }

    .component-preview-bar {


        display: flex;
        align-items: center;

        background: $text-color-selected;
        border-radius: 4px;

        padding: 0px 5px;
        margin-bottom: 5px;

        height: 30px;

        .add-name-link {
            margin-left: 10px;
            color: $primary-color;

            &:hover {
                color: darken($primary-color, 10)
            }
        }

        .bar-title {

            flex-grow: 1;

            display: flex;
            align-items: center;

            .bar-title-text {

                span,
                div {
                    font-size: 12px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: $text-color-lighter;
                    overflow: hidden;
                    //max-width: 200px;
                    line-height: 1.8; // bumped up to fully show parameter values
                }
            }

            .bar-title-decoration {

                margin-left: 5px;
                font-size: 10px;
                color: $app-color;
            }
        }

        .bar-title-icon {
            color: $app-color;
            margin-right: 5px;
        }

        .bar-controls {

            opacity: .8;
            text-align: right;
            display: flex;

            // opacity: 0;

            // &:hover {
            //     opacity: 1;
            //     transition: opacity 0.3s;
            // }

            button {
                font-size: 13px;
                background: transparent !important;
                margin-left: 5px;
            }
        }
    }

    .component-preview-contents {
        transition: max-height 0.2s, opacity 0.2s 0.1s;

        &.collapsed {
            opacity: 0;
            max-height: 0;
            transition: opacity 0.2s, max-height 0.2s;
        }

        .title {
            color: $app-color;
            font-size: $text-size-larger;
        }

        .image-error {
            display: flex;

            .icon {
                color: $primary-color;
                margin-right: 5px;
            }

            .text {
                color: black;
                font-size: 14px;
                ;
            }

            .attention {
                color: $error-color;
                margin-left: 5px;
            }
        }
    }

    &.separator {
        .component-preview-contents {
            color: $app-color;
        }
    }

}

.component-button {
    background: $text-color-selected !important;
    margin-bottom: 5px;
}

.component-detail {

    .ant-drawer-body {
        padding-top: 0px;
    }

    .component-shortname {
        input::placeholder {
            opacity: 0.6;
        }
    }
}

.design-mode {
    .component-preview-contents {

        >.section {
            // only one level

            height: 100%;
            min-height: 100px;
            // border-left: 2px solid rgba($primary-color, 0.2);
            // border-bottom: 2px solid rgba($primary-color, 0.2);
        }
    }
}


.multichoice-option-draggable {
    .multichoice-option {
        border: 1px dotted $text-color-frame;
        border-radius: 6px;

        padding: 5px;

        .row-main {
            .multibox {
                flex-grow: 1;
            }
        }
    }
}

.readonly-placeholder {


    background-color: $text-color-selected;
    width: 20px;
    line-height: 20px;
    border-radius: 4px;
    text-align: center;
    padding: 0px 2px;
    opacity: .6;
}

.readOnlySnippet {
    // border-top: 0.5px solid $text-color-lightest;
    margin-bottom: 20px;
    padding-top: 4px;
    line-height: 1.8;

    .multilang {
        display: flex;
        flex-direction: row;
        line-height: 1.8;
        margin-bottom: 3px;

        .title {
            display: flex;
            min-height: 40px;
            min-width: 50px;
            background-color: #f5f5f5;
            border: 1px solid #d9d9d9;
            border-bottom-left-radius: 4px;
            padding-right: 0px;
            min-width: 40px;
            max-width: 40px;
            justify-content: center;
            padding-top: 2px;
        }

        .contents {
            flex-grow: 1;
            border: 1px solid #d9d9d9;
            border-bottom-right-radius: 4px;
            display: flex;
            padding-top: 2px;
            padding-left: 2px;
            padding-bottom: 2px;
        }
    }

    .tag {
        font-size: 1.2em;
        background-color: white;
    }

    .ant-radio-disabled+span {
        color: $text-color;
    }

    .ant-checkbox-disabled+span {
        color: $text-color;
    }
}

.link-faded {
    color: $text-color-lighter;
}

.footer-details {
    .ql-editor {
        h1 {
            font-size: 16px;
        }

        h2 {
            font-size: 15px;
        }

        h3 {
            font-size: 14px;
        }
    }
}

.row-widget {

    display: flex;
    width: 100%;
    //overflow-x: auto;   // doesn't seem to have an effect but glitches in preview making row height supertall and overflowed.

    &.vertical {
        flex-direction: column;

        .cell {
            border-radius: 5px;

            .cell-badge-wrapper {
                display: table;

                .cell-badge {
                    margin-top: -0.7em;
                    margin-left: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                    background-color: $content-background;
                    display: block;
                    z-index: 10;
                    border: 1px dashed lightgrey;
                    border-radius: 4px;
                }
            }
        }
    }

    &.horizontal {
        flex-direction: row;
    }

    .cell-container {
        word-break: break-all;

        .cell {
            height: 100%;

            &.cell-margins {
                margin-bottom: 15px;
                margin-top: 10px;
            }

            &.collapsed {
                height: 0;

                div {
                    visibility: hidden;
                    height: 0;
                }

                .cell-badge-wrapper {
                    .cell-badge {
                        visibility: visible;
                        height: 21px;

                        div {
                            visibility: visible;
                        }
                    }
                }
            }

            .cell-contents {
                word-break: break-word !important;
            }

            .cell-contents:empty {
                min-height: 30px;
            }
        }

        &.cell-hide-left-border {
            .cell {
                border-left: 0px !important;
            }
        }

        .ql-picker.ql-header {
            width: auto;

            svg {
                visibility: hidden;
            }
        }
    }
}

.row-details {
    .row-cells {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .add-one {
            margin-bottom: 10px;
        }

        .row-cards {
            width: 100%;
            margin-top: 20px;

            .row-card {
                display: flex;
                flex-direction: row;
                height: 60px;
                width: 100%;
                margin-bottom: 15px;
                background: $content-background;
                border-radius: 4px;
                border: 1px dashed $text-color;
                align-items: center;
                padding: 5px;

                .cell-badge-container {
                    flex-grow: 1;
                    padding-right: 10px;

                    .cell-badge {
                        width: auto;
                    }
                }

                .row-buttons {
                    // flex-grow: 1;
                    display: flex;
                    flex-direction: row;

                    .row-remove {
                        width: 5%;
                        color: $text-color;
                    }

                    .cell-badge-edit {
                        margin-right: 3px;
                    }

                    .cell-badge-template {
                        margin-right: 5px;
                        // padding-top: 3px;
                    }
                }

                &.disabled {
                    border: 1px dashed $text-color-lighter;

                    .anticon {
                        color: $text-color-lighter !important;
                    }
                }


            }
        }
    }
}

.rowsection {
    .component-preview {
        margin-top: 0;
        margin-bottom: 0;
    }
}


.cell-style-heading-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    align-items: center;

    .cell-style-title {
        flex-grow: 1;

        h1 {
            margin-bottom: 0px;
        }
    }

    .cell-style-revert {
        .reset-style-btn {
            color: lighten($primary-color, 10)
        }

        .reset-style-btn:hover {
            color: $primary-color
        }

    }
}

.reset-style-btn.all {

    margin-bottom: 40px;
}

.layout-subscriber-placeholder {

    background-color: #f5f1f1;
    border-radius: 4px;
    opacity: .3;

    &,
    * {
        color: transparent
    }

}

.cell-styles-heading {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}



.requirement-section-contents {

    position: relative;

    &:hover {

        &:not(.section-missing-submission, .section-notapplicable-submission) {
            border-top: 1px dashed $primary-color;
            margin-top: -1px;
        }

        .section-requirement-placeholder {
            opacity: 1;
        }
    }
}

.section-requirement-placeholder {
    position: absolute;
    top: -20px; // avoids covering actinable content.
    right: 10px;
    z-index: 1000; // best attempt at remining visibile.

    text-align: right;

    i {
        border-radius: 50%;
        color: $primary-color;
        padding: 8px;
        background: #f9f9f9;
        font-size: 25px;
    }

    opacity: 0;
    transition: opacity 0.5s;
}

.section-missing-submission {
    border: 1px solid $warning-color;
    border-radius: 4px;
    margin-bottom: 1px;
    padding: 5px 9px 5px 9px;

    .section-requirement-placeholder {
        z-index: 0;
        opacity: 1;

        i {
            color: $warning-color;
        }
    }
}

.section-notapplicable-submission {
    // border: 1px solid lightgray;
    // border-radius: 4px;
    // padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 100;

    .section-requirement-placeholder {
        visibility: hidden;
        z-index: 0;
        opacity: 1;

        i {
            color: lightgray;
        }
    }
}

.section-notapplicable-submission:hover {
    .section-requirement-placeholder {
        visibility: visible;
    }
}

.section-missing-target {
    border: 1px solid $error-color;
    border-radius: 4px;
    margin-bottom: 1px;
    padding: 5px 9px 5px 9px;

    //* { color: lightcoral};

    .section-requirement-placeholder i {
        color: $error-color;
    }
}




.card-contents .row-widget {
    top: 0 !important;
}

.requirement-section-contents .section-requirement-placeholder {
    top: -20px;
    right: -20px;
    border: solid 1px lightgray;
    border-radius: 50%;
}

.requirement-section-contents.section-notapplicable-submission .section-requirement-placeholder,
.requirement-section-contents.section-missing-submission .section-requirement-placeholder {
    top: -10px;
    right: -10px;
}

.section-requirement-placeholder {
    z-index: 1 !important;
}

.requirement-section-contents.section-notapplicable-submission,
.requirement-section-contents.section-missing-submission {
    width: calc(100% + 20px);
    transform: translateX(-10px);
}

.requirement-section-contents.section-notapplicable-submission>*:not(.section-requirement-placeholder) {
    opacity: 0.60;
    pointer-events: none;


}

.ayout-subscriber-plaveholder {
    height: 0px !important;
}

.condition-field {

    +.condition-field {
        margin-top: 10px;
    }

    border: 1px dashed $text-color-frame;
    border-radius: 6px;
    padding: 15px 15px 0px;
}

.asset-loop-link {

    color: $primary-color;

    &:hover {
        cursor: pointer;
    }
}

.asset-loop-item {

    padding: 5px 20px;
    border-radius: 6px;
    border-left: 6px solid $text-color-tinted;
    background-color: $text-color-selected;
}

.layout-numberbox {
    .ant-input-number {
        width: 100% !important;
    }
}

.layout-datebox {
    
    .ant-calendar-picker {
       
        .ant-calendar-picker-input {
            pointer-events: none;
        }
    }
}

.layout-datebox-details {
    width: 100%;

    .ant-calendar-picker {
        width: 100% !important;
    }
}

.datebox-input-picker {
    .ant-calendar-input-wrap {
        pointer-events: none;
        display: none;
    }

}

.anchor-id {

    // scroll-margin-top: 80px;
}

.anchor {

    .anchor-line {
        border: 1px dashed $app-color;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .anchor-name {

        float: left;
        position: relative;
        border-radius: 6px;
        top: -10px;
        left: 10px;
        font-size: 10px;
        background-color: $app-color;
        color: white;
        padding: 2px 5px;
    }
}

.dynamic-section {

    .ant-form-item-label {
        margin-top: -18px;
    }

    .list-row {
        position: relative;

        .list-bar {
            position: absolute;
            right: -27px;
            top: 10px;

            button {
                background-color: rgba(0, 0, 0, 0);

                svg {
                    font-size: 20px;
                    color: gray;
                    opacity: 0.4;

                }
            }
        }
    }

    .list-add:has(> button:disabled) {
        height: 0;
        min-height: 0;
        padding-top: 0;

        button:disabled {
            visibility: hidden;
        }
    }

}

.embedding-placeholder {

    padding: 5px 20px;
    height: 50px;
    background: $text-color-selected;
    color: $text-color-lighter;
    border-radius: 4px;
    border: 1px dashed $text-color-frame;
    display: flex;
    align-items: center;
    justify-content: center;

}

.embedding-container {

    background: rgba(187, 202, 212, 0.267);
    padding: 0px 10px;
}

.card-contents {

    .ant-form-item-label {


        label {
            color: rgba(0, 0, 0, 0.65) !important;
            font-size: 14px !important;
        }

    }

}
