@import '#app/common.scss';

.translate-user-menu-further {
    transform: translateX(-550px) !important;
    color: inherit;
}


.ant-tag {

  &.role {
    color: #3896ec
  }
  

}

.logged-user-cell {
  color: $primary-color
}

.permission-sections {

  padding:10px 20px
}


.permission-section + .permission-section {

  margin-top: 20px;

  // &:before {
  //   margin-left: 48%;
  //   width: 4%;
  //   content: '';
  //   display: block;
  //   position: relative;
  //   border-bottom: 6px dotted $app-color;
  //   bottom: 40px;
  // }
}


.permission-section-title {

  font-weight: 300;
  font-size: 24px;
}


.account-label {

    &.state-pending {
      border:  1px solid $warning-color  
    }

    // &.state-active {
    //   border:  1px solid $app-color  
    // }

    &.state-suspended {
      * {
        color:  $text-color-disabled  
      }

    }

    &.state-active {
      
      background: $success-color;
      * {
        color: white;
      }
    }

    &.state-none * {
        color: $warning-color;
    }
  

    &.state-offsync, &.state-unknown {

      background: $error-color;
      * {
        color: white;
      }
    }
}


.account-view  {

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 
  margin:50px 30px;

  font-weight: 300;
  

  .account-panel {

      margin:30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;


      .state-icon {
        font-size: 100px;
        margin-bottom: 20px;
      }

      .state-description {
          padding-top: 20px;
      }

      .lifecycle-actions {

        padding-top: 30px;
      }
 
      &.none {

          color: $text-color;

      }

      &.suspended {

        color: $text-color-selected;

     }

      &.active {

        color: $app-color;

     }

     &.offsync {

        color: $error-color;
  
    }


     &.pending {

      color: $warning-color;

   }

  }

  .account-secondary-panel {

    margin-top: 100px;
    
    
    .action-section+.action-section {
      margin-top: 30px;
      
    }

    .action-section {

      background: $text-color-selected;
      border-radius: 4px;
      padding: 20px;

      display:flex;
      flex-direction: column;
      align-items: center;


      &.section-disabled {
        * {
          color: $text-color-disabled;
        }
      }

      .section-title {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 10px;
      }

      .section-explainer {

        font-style: italic;
      }
    }

    button {
      margin-top: 20px;
    }

  }

}


.avatar-tooltip {

 

  .ant-typography {

    &.label {

      color:$app-color
    }

    color:white;
    font-size: small;
  }

}