@import '#app/common.scss';


.ant-tag.no-tenant-label {

    background: white;
    color: $text-color-lighter;

   
}

.audience-list-selector {
    
    width: 120px;
    margin-right: 5px;;

    &.readonly {


        .ant-select-dropdown-menu li {
            cursor: not-allowed;
        }

        .ant-select-arrow {
            right: 30px;
            top:16px;
        }

    }
}