@import "#app/common.scss";


.integration-explainer {

    white-space: break-spaces;

    .integration-dialog-intro {
        font-weight: 400 !important;
        font-size: large;
    }

    .integration-dialog-section {
        border-radius: 4px;
        padding: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .integration-dialog-icon {

        font-size: 150px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: darkcyan;
    }


}
