@import "#app/common.scss";

.pathway-viewer {

    margin-top: 30px;

    max-height: 450px;
    width: 100%;

    padding: 8px 8px 8px 8px;

    overflow-y: auto;

    .divider {
        .ant-divider-inner-text {
            color: rgba(0, 0, 0, 0.85) !important;
            font-size: 12px;
            font-weight: 200;
        }
    }

    .header {
        font-weight: bold;
    }

    .viewer-data {
        color: white;
        background-color: lighten($color: #000000, $amount: 25);
        padding: 8px 8px 8px 8px;
        border-radius: 4px;

        .string {
            color: green;
        }

        .number {
            color: darkorange;
        }

        .boolean {
            color: blue;
        }

        .null {
            color: magenta;
        }

        .key {
            color: red;
        }

        hr {
            border-top: 1px solid black;
        }
    }

}