@import "#app/common.scss";


.pathway-render-form {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;

}

.integration-refresh-btn {

    margin-top: 30px;

}

.integration-timestamp {

    margin-top: 50px;

    .timestamp-lbl {

        color: $text-color-lighter;
        text-transform: lowercase;
        font-variant: small-caps;
    }

    .timestamp-value {

        margin-top: 5px;
        font-weight: 500;
    }
}