@import "#app/common.scss";

.pathway-treeviewer {

    margin: 30px 10px;
    padding: 20px 20px;
    background-color: $text-color-selected;
    border-radius: 6px;

    overflow: hidden;

    .ant-tree li {

        ul {
            padding: 5px !important;
        }

        padding: 4px 0px 0px;
    }

    .ant-tree-switcher-noop {

        display: none !important;
    }



    .key {
        font-variant: small-caps;
        text-transform: lowercase;
        border-radius: 4px;
        background: $text-color-tinted;
        padding: 0px 6px;

    }

    .keyvalue {

        line-height: 18px;
        display: flex;
        align-items: center;
        
    
    }


    .keyvalue-key {
        font-weight: 200;
        font-variant: small-caps;
        text-transform: lowercase;
    }

    .keyvalue-dash {

        font-weight: 500;
    }

    .keyvalue-value, .value {
        margin-left: 5px;
        font-weight: 500;
        border-radius: 4px;
        background: $text-color-tinted;
        padding: 0px 10px;
    }

    .array-element {
        
        font-variant: small-caps;
        font-size: smaller;
        color: $text-color-lighter;
        font-weight: 500;
    }
}