
@import '#app/common.scss';

.clock {

    .clock-picker {

        input {
            border:none;
            background: transparent;
        }
    }

    .clock-face {

        display: flex;
        align-items: center;

        .time-label {
            flex-grow: 1;
        }

        .clock-ctrl {

            display: none;
        }

        &.editable {

            .clock-ctrl {

                display: inline;
            }
    

            .time-label {

                // position:relative;
                // left:+35px;
                // transition: left 0.1s ease-out; 
                padding-left: 5px;
        
        
            }
        }
    }

    

    .clock-ctrl {

        cursor: pointer;
        margin-right: 3px;
        opacity:0;
        transition: opacity 0.6s, 0.1s ease-out; 
        
   
    }

    &:hover {
        
        .clock-face.editable {

            .time-label {

                left:-5px;
            }

            .clock-ctrl {

                opacity:1;
    
                &:hover {
    
                    color: $text-color;
                }
                
            }
            } 
    }
}


.time-picker {

    &.time-picker-readonly {

        pointer-events: none;
    }


//     &.time-picker-default-value {

//     opacity: .6;
// }

    .ant-calendar-picker {

        input {
            font-size: small;
        }
    }

    .ant-calendar-picker-icon {
        z-index: 0;
    }
    
    .ant-calendar-today-btn {
        color: $text-color-lighter;
    }
    .ant-calendar-time-picker-btn {
        color: $primary-color;
        &.ant-calendar-time-picker-btn-disabled {
            color: $text-color-lighter;
        }

    }



   


.timezone-footer {

    padding:10px 0px 5px;
    margin-bottom: 10px;
    line-height:1.8;

    border-bottom: solid 1px $text-color-lightest;

    .timezone {
        display: flex;
        flex-direction: row;
        
        .timezone-label {
            font-size: small;    
        }
        .selected-timezone {
            font-size: small;
            font-style: italic;
            padding-left: 5px;
        }
    }
}


    .zone-option {

        cursor: pointer;

        *:hover {
            color: $primary-color;
        }

    }

    .timezone-selection {

        display:flex;
        margin-top:3px;
        

        &.timezone-selection-visible {
          
            .timezone-picker {
          
                opacity:1;
                height:30px;
                font-size:$text-size-smaller;
                transition: all .3s ease-in;

                }
        
         }

        .timezone-picker {
          
            opacity:0;
            height:0;
            flex-grow: 1;

   
        }
    }

}

.time-label {

    &.label-tag {

        
        &.time-label-alert-close {
        
            background: $warning-color;
            
            * {
                color: white
            }
           
        }
        
        &.time-label-alert-closer {
        
            background: $error-color;
            
            * {
                color: white
            }
           
        }
        
        &.time-label-alert-far {
        
            background: $primary-color;
        
            * {
                color: white
            }
        }
    }


    &.time-label-alert-none {

        * {
           color: $text-color-lighter;  
        }
    }
    
    &.time-label-alert-close {
  
        * {
            color:$warning-color
        }
       
    }
    
    &.time-label-alert-closer {
    
        * {
            color: $error-color
        }
       
    }


    // no explicit accent for a close record: we use the normal font-weight and color.
    

    &.time-label-record-closer {
    
        font-weight: 500
    
       
    }


    &.time-label-record-none, &.time-label-record-far {
    
        * {
            color: $text-color-lighter
        }
    
       
    }
    

     
}


.time-label-other {

    font-size: $text-size-smaller;
   
    .other-name {
        color: $success-color;
        min-width: 20px;
        font-variant: small-caps;
    }
}