
@keyframes pulse {
    0% {
     transform: scale(0.6);
    }
    25% {
      transform: scale(1.4);
    }

    50% {
     transform: scale(1);
   }

     100% {
     transform: scale(0.6);
    }
}

.icon-pulse {

 animation: pulse 1s infinite linear;
}