@import '#app/common.scss';


.scroll-to-top {

    z-index: 10;
    position: absolute;
    bottom: 30px;
    left: 30px;

    background-color: $text-color-selected !important;
    border-radius: 6;

    opacity: 0;


    transition: opacity .4s ease-in-out;

    &.btn-visible {

        opacity: 1;


    }

}