@import '#app/common.scss';

body {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Ubuntu', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    font-size: $text_size;
    color: $text-color;

}


#root {
    height: 100%
}

// --------------------------------------------------------------------------   basic customisations.

h1,
h2,
h3 {

    font-weight: 200 !important //  skinny headings.

}

a {

    color: inherit;
    text-decoration: none; // discrete links.

}

// .ant-btn, .ant-tabs, .ant-tabs-nav-container, .ant-form, .ant-form-item, .ant-input, .ant-select {                     // should really customize ant
//     font-size: $text_size;
// }

@keyframes scale-up-animation {

    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}


// sidebar is always as tall as the viewport and long content scrolls internally. 
// wider content is never reflowed, rather clipped.

.apprise-layout {

    height: 100%;

    .sidebar {

        height: 100%;
        min-height: 100vh; // as tall as the viewport, no less (won't fall short), no more (won't scroll up).   

        position: sticky;
        top: 0; // won't scroll when main area does

        overflow: hidden; // never bleed wide content into main area (better tha no-wrap on children).

        &.ant-layout-sider-collpased {

            min-width: $iconbar-width;
            width: $iconbar-width; // collapses to the show only the iconbar.
        }

        .ant-layout-sider-children {
            // customises antd's own, without own wrapper.

            display: flex;
            flex-direction: column; // stacked children, stretch all the way across.

        }

        .ant-layout-sider-trigger {

            position: relative;
        }

        &.no-content {

            .ant-layout-sider-trigger {

                display: none;
            }

        }


        //  -----------------------------------------------------------------------------------------------------   Logo and Title

        .sidebar-logo {

            height: $header-height; // visually, extends the header in main area.
            min-height: $header-height; // even with little or no content.

            white-space: nowrap; // don't reflow wide content.
            overflow: hidden; // clip long content.

            color: white;
            background: var(--app-color);

            display: flex;
            align-items: center;
            padding: 25px; // children stack horizontally, vertically centered.

            div {

                display: flex;

                svg {
                    margin-left: 5px;
                    margin-right: 15px;
                }
            }

            .sidebar-maintitle {

                font-size: 18px;
                transition: $fade;
                opacity: 1;
            }

        }


        &.ant-layout-sider-collapsed {

            .sidebar-logo {

                .sidebar-maintitle {
                    opacity: 0;
                }
            }
        }


        .sidebar-content {
            //  wraps iconbar and action panel

            height: calc(100% - 64px); //  stretches all the way down (could use flexGrow more elegantly,
            // but this is required anyway to 'activate' the overflows of children.)

            display: flex; // lined children, stretch all the way down.

            /*The following rules are to adapt the scrollbars within the sidebar*/
            /*Side scrollbar webkit*/
            *::-webkit-scrollbar {
                width: 0.4em;
                height: 0.4em;
            }

            *::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 0px purple;
                box-shadow: inset 0 0 0px purple;
            }

            *::-webkit-scrollbar-thumb {
                background-color: $sidebar-scrollbar-background;
            }

            /*Side scrollbar standard*/
            * {
                scrollbar-width: thin;
                scrollbar-color: $sidebar-scrollbar-background rgba(0, 0, 0, 0);
            }

            ;
        }




        //  -----------------------------------------------------------------------------------------------------   Iconbar



        .sidebar-iconbar {

            width: $iconbar-width;
            min-width: $iconbar-width;

            color: $darktheme_color1;

            display: flex;
            flex-direction: column; // vertically stack items, stretched across.


            .iconbar-item {




                display: flex;
                align-items: center;
                justify-content: center; // fully centered content (icon).

                i {
                    font-size: $iconSize;
                }

                &:hover {
                    // brightens on hover.
                    color: $darktheme_color_emphasis
                }



                //  draws a bright left edge, to appear only when active.
                //  using an 'empty' pseudo element to set an initial opacity for the transition.

                &.section-item {

                    height: $header-height;

                    &:after {

                        content: ""; // not inserting any actual content, only styling.

                        position: absolute;
                        left: 0; // left edge.

                        height: $header-height;
                        width: 5px; // the bar.

                        background-color: var(--app-color); // in theme.

                        opacity: 0; // invisible until active.


                    }


                    &.active {

                        background: $sidebar-panel-background; // bleeds the panel's color for a 'selected tab'.

                        color: $darktheme_color_emphasis;


                        &:after {
                            // bright edge fades in.                                            

                            content: ""; // not inserting any actual content, only styling.

                            opacity: 1;
                            animation: fadein 0.3s ease-in-out both;

                        }

                        i {
                            // icon is slightly enlarged.
                            transform: scale(1.2);
                            animation: scale-up-animation 0.2s ease-in-out both;
                        }


                    }

                }





            }

            .iconbar-sections {

                flex-grow: 1; // stretches all the way down, until if finds links.
                overflow: auto; // without bleeding long content.

                margin-bottom: 10px; // leaving some spacing from links.

                .section-icon {

                    height: $header-height; // as wide as header is tall

                    background: lightgray; // temp debug
                }
            }

            .iconbar-links {

                min-height: calc(2 * #{$linkitem-height}); // force at least two links to show.
                overflow: auto; // without bleeding long content.

                margin-bottom: 10px; // pushes lowest item up from the sidebar trigger.     

                display: flex;
                flex-direction: column;
                justify-content: flex-end;


                .link-item {

                    height: $linkitem-height; // narrower than secton  items.

                    &:hover {


                        i {
                            transform: scale(1.2);
                            transition: transform 0.3s ease-in-out;
                        }
                    }
                }


            }

        }


        //  -----------------------------------------------------------------------------------------------------   Panel



        .sidebar-panel {

            flex-grow: 1; // stretch all the way across.
            overflow: auto; // without bleeding long content.
            min-width: $sidebar-width - $iconbar-width; // or reflowing when collapsing.
            // (no wrap => no fixed width => issues with some children.

            color: $darktheme_color2;

            padding: 20px 15px 5px 15px;

            display: flex;
            flex-direction: column;
            align-items: flex-end; // stacks children, aligned to the right
            text-align: right; // when text is used, also aligns to the right.

            background: $sidebar-panel-background;


            .ant-typography-danger {
                color: #f84646 !important;
            }

            .sidebar-property {

                .ant-typography {

                    color: inherit;

                    .emphasis {
                        color: var(--app-color);
                    }

                    a {
                        color: inherit;
                    }

                }

            }

        }


    }


    //  -----------------------------------------------------------------------------------------------------   Main


    //  main is as tall as its content - ie scrolls with the body - but it's never shorter than the wiewport.
    //  wider content must reflow or the layout will break.
    //  descendants can stick, to the main area or to their parents.


    .main {

        //  overriding ant's hidden overflow to allor for sticky descendants.
        //  removing this protection can break the layout.
        //  the responsibility lies with descendants to ensure reflow.
        overflow: visible ! important;



        //  a breadcrumb to the left, and a menu and other actions always to the right.

        .main-header {

            background: $header-background;
            padding: 0px 15px;

            display: flex;
            align-items: center; // childrens form a row.

            z-index: 1;
            white-space: nowrap;

            .main-header-right-buttons {
                margin-left: auto;
                display: flex;
            }

            // .extra-header-tools {
                
                .focus-mode-btn {
                    cursor: pointer;
                    color: #9e9e9e;
                    margin-right: 12px;
                    will-change: color;
                    transform: translateY(1px);
                    transition: color 250ms ease-in-out;

                    &:hover {
                        color: $primary-color;
                    }

                    &>svg {
                        stroke: transparent !important;
                    }
                }

                .notif-mode-btn-container {
                    flex: 1; 
                    text-align: right; 
                    white-space: nowrap;
                    margin-right: 12px;
                    width: 22px;

                    .notif-mode-btn {
                        font-size: small;
                        font-variant: small-caps;
                        line-height: 85%;
                        width: 57%;
                        overflow-x: hidden;
                        transition: width 0.5s;

                        &.active {
                            width: 57%;
                            color: $primary-color;
                        }

                        &.inactive {
                            color: $error-color;
                            width: 100%;
                        }
                        
                    }
                }
            // }


            .ant-breadcrumb {

                .ant-breadcrumb-link a {
                    color: $text-color
                }

                >span:last-child a {
                    color: $text-color-darker
                }

            }

            .header-logged {

                margin: 0px 0px 0px 20px;
            }

            .header-actions {

                display: inline-flex;
                align-items: center;
                color: $text-color-lighter;
                line-height: normal;

                .header-menu {

                    margin-left: 10px;
                    // override: menu placeholder with minimal height
                    // so that its items hang immediately below the icon.                           

                    font-size: 20px;
                    color: $text-color-lighter; // large menu icon, sofly colored.

                    &:hover {
                        color: $primary-color;
                    }

                }

            }

        }

        //  the content below the header, with a vertical, full-width layout.

        .ant-layout-content {

            display: flex;
            flex-direction: column; // children flow down.
            min-height: fit-content;

            .apprise-titlebar,
            .apprise-controlbar {

                background: $text-color-selected; // provides background to bars.        
            }

            .apprise-titlebar {

                padding: 8px 15px 10px 15px; //  tweaked for aligment with elements in sidebar.

                .readonly-tag {

                    background-color: lighten($text-color-frame, 9);
                    color: darken($warning-color, 5);

                    i {
                        color: darken($warning-color, 8);
                    }

                }

            }

            .main-content {

                position: relative;

                iframe {
                    height: 705px;
                }

                flex-grow: 1; // grows always to fill the screen, but can scroll past it.  

                background: $content-background;
                padding: 15px 15px 50px 15px;

                display:flex;
                flex-direction: column; // children flow down.

                // If a spinner is loaded within main-content the spinner has to stretch 100% 
                // for vTable
                .ant-spin-nested-loading:first-child {
                    height: 100% !important;

                    .ant-spin-container {
                        height: 100%;
                    }
                }

                .main-sider {

                    overflow-y: auto;

                    min-width: 180px;
                    width: 180px;

                    margin-right: 10px;

                    display: flex;
                    flex-direction: column;
                    top: 70px;

                }

                .layout-sidebar {
                    top: 70px;
                    position: sticky;
                    margin-left: 3px;
                    margin-right: 3px;
                }
            }

        }

    }

}




//  bar of title and subtitle.

.apprise-titlebar {

    background: inherit; //  adapts to context, where background _may_ be specified.

    display: flex;
    flex-direction: column; //   stack children vertically.

    .main-title {
        margin-bottom: 10px;
    }

    //  reduced to keep header compact.

    .subtitle {
        // text expected.

        margin-top: -10px; // pushes up below title and repeats its margin.
        margin-bottom: 10px;

        min-height: 15px; // ready for content even if there's none to begin with (no jumps).

        font-size: $text-size-larger; // subtle.
        color: $text-color-lighter;
    }


}


//  bar of tabs to the left and actions to the right ( typically made sticky in code).

.apprise-controlbar {

    background: inherit; //  adapts to context, where background _may_ be specified.
    height: 64px;

    padding: 0px 15px;

    display: flex;
    align-items: center; //  stacks children horizontally.


    .ant-tabs {


        .ant-tabs-bar {
            margin: 0;
            border: none; // ends where topbar does.
        }

        .ant-tabs-nav .ant-tabs-tab-active {
            color: $text-color-darker;
            font-weight: inherit;
        }

        .ant-tabs-ink-bar {
            height: 3px;
            bottom: 3px;
        }

        .ant-tabs-tab {

            color: $text-color-lighter;
            margin-right: 5px;
            padding: 23px 16px;

            &.ant-tabs-tab-disabled {
                color: lightgray;
            }
        }
    }

    .controlbar-other {

        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .controlbar-actions {

        display: flex;
        align-items: center;
        justify-content: flex-end;

        .controlbar-buttons-right {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;

            button+button,
            a+button {
                // spaces adjacent buttons.
                margin-left: 5px;
            }
        }

        .controlbar-buttons-left {
            display: flex;
            justify-content: flex-start;

            button+button,
            a+button {
                // spaces adjacent buttons.
                margin-right: 5px;
            }
        }
    }



}


.content-header {

    padding: 10px 10px 5px 10px;
    border-bottom: 1px solid $text-color-lighter;
    display: flex;
    align-items: center;


    .content-header-title {

        font-weight: 300 !important;

        .anticon {
            color: $primary-color
        }
    }

    .content-header-subtitle {
        margin-left: auto;
        font-size: small;
        color: $text-color-lighter
    }
}


//  bar of anchor links to the left and contents with anchors to right.

.toc-layout {

    display: flex;
    align-items: flex-start;

    .layout-toc {

        flex-grow: 1;
        display: flex;

        position: sticky;


        .layout-entries {

            margin-left: auto;
            padding-right: 40px;

            .toc-label {

                padding-bottom: 6px;
                font-size: small;


                .label-icon {
                    min-width: 12px;
                    min-height: 12px;
                    display: block;
                    background-color: white;
                    border: 2px solid $text-color-lighter;
                    border-radius: 50%;
                    transform: scale(0.5, 0.5);
                }

                &.toc-selected .label-icon {

                    background-color: $primary-color;

                }

                &:hover .label-icon {

                    border-color: $primary-color;
                    transform: scale(.6, .6);

                }

            }
        }


        a {

            color: $text-color-lighter;

            &:hover {
                color: $primary-color
            }
        }
    }

    .layout-content {

        flex-grow: 7;
    }

}

.foldable-panel {

    * {
        font-size: $text-size-smaller;
    }

    .foldable-panel-header {

        padding: 10px;
        background: transparent;
        background: $text-color-tinted;
        border: 1px solid $text-color-lightest;

        display: flex;
        align-items: center;

        .ant-btn {
            min-height: inherit;
            background: transparent;
        }
    }

    .foldable-panel-content {

        overflow: hidden; // hides content during transition to open.
        transition: max-height .2s ease-in-out, padding .2s ease-in-out;

        border-color: $text-color-selected;
        border: 1px solid $text-color-lightest;
        border-top: none; // header fascia is quite enough. 

        display: flex;
        flex-direction: column;


        &.panel-open {

            overflow: auto; // scrolls to show height should probably be tweaked.
        }

        .panel-entry {
            margin: 10px;
        }

        &>.panel-entry~.panel-entry {
            // margin provided by child above.

            margin-top: 0px;

        }
    }


}

.box {
    position: relative;
    max-width: 600px;
    width: 90%;
    height: 400px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

/* common */
.ribbon {
    width: 254px;
    height: 174px;
    overflow: hidden;
    position: absolute;
}

.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 5px 0;
    background-color: $text-color-lightest;
    box-shadow: 0px 0px 0px white;
    color: lighten($text-color, 40);
    font-weight: 200;
    text-shadow: 0 0px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* top right*/
.ribbon-top-right {
    top: -26px;
    right: -10px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}

.ribbon-top-right::before {
    top: 0;
    left: 0;
}

.ribbon-top-right::after {
    bottom: 0;
    right: 0;
}

.ribbon-top-right span {
    left: 86px;
    top: 100px;
    transform: rotate(25deg);
}





// ZOOMER
body {
    transform: scale(1);
    transform-origin: 0 0;
    will-change: transform;
    transition: transform var(--zoomer-duration) ease-in-out,
        width var(--zoomer-duration) ease-in-out,
        height var(--zoomer-duration) ease-in-out;

    &.zoomed {
        .apprise-controlbar {
            position: relative !important;
        }
    }

    .main.ant-layout {
        overflow-y: scroll !important;
    }

    .main.ant-layout::-webkit-scrollbar {
        display: none;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}



.focus-mode {
    .apprise-controlbar {
        position: relative !important;
    }
}

.zoomer {
    --duration-hover: 150ms;

    display: inline-block;
    margin-right: 15px;
    color: #9e9e9e;
    line-height: 0;
    height: 22px;

    i {
        padding: 0;
        cursor: pointer;
        margin-left: 2px;
        display: inline-block;
        transition: opacity var(--duration-hover) ease-in-out,
            background-color var(--duration-hover) ease-in-out,
            transform var(--duration-hover) ease-in-out,
            color var(--duration-hover) ease-in-out;
        border-color: rgba(0, 0, 0, .07);
        border-radius: 2px;
        border-radius: 50%;

        &.zoomer-minus {
            transform: rotate(180deg);
        }

        &:hover {
            opacity: 1;
            color: $primary-color;
        }

        &.active {
            background-color: $primary-color;
            color: white;
        }
    }
}

// FULLSCREEN SECTION
:root {
    --duration: 350ms !important;
}

.apprise-titlebar {
    transition: height calc(var(--duration) / 1.8) linear,
        padding calc(var(--duration) / 1.8) linear,
        opacity calc(var(--duration) / 2.9) linear !important;
    transition-delay: 190ms !important;
    height: var(--title-height, auto);
    will-change: opacity;
    display: table;
}

.focus-mode-aware-left,
.focus-mode-aware-top {
    width: 100%;
    will-change: opacity;
    overflow: hidden;
}

.focus-mode-aware-left {
    z-index: 102 !important;
    transition: width var(--duration) ease-in-out,
        box-shadow calc(var(--duration) * 3) ease-in-out,
        max-width var(--duration) ease-in-out,
        min-width var(--duration) ease-in-out !important;
    ;

    .iconbar-item.section-item.active {
        animation: none !important;
        transition: opacity var(--duration) ease-in-out !important;
    }
}

.focus-mode-aware-top {
    z-index: 101 !important;
    transition: height calc(var(--duration) * .865) ease-in-out,
        box-shadow calc(var(--duration) * .865) ease-in-out,
        filter calc(var(--duration) * .865) ease-in-out,
        min-height calc(var(--duration) * .865) ease-in-out !important;

    &>* {
        transition: opacity var(--duration) ease-in-out;
    }
}

.focus-mode {
    --closed-size: 15px;

    .focus-mode-btn i {
        color: $primary-color;
    }

    .focus-mode-btn:hover i {
        color: red !important;
    }

    .apprise-titlebar {
        display: block;
        height: 0 !important;
        opacity: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    &.focus-mode-hover-left .focus-mode-aware-left {
        width: 80;
        min-width: 80;
        max-width: 80;
    }

    &.focus-mode-hover-top .focus-mode-aware-top {
        height: 64px;
        min-height: 64px;
    }

    &:not(.focus-mode-hover-left) .focus-mode-aware-left {
        min-height: 100vh;
        height: 100%;
        width: var(--closed-size) !important;
        min-width: var(--closed-size) !important;
        max-width: var(--closed-size) !important;

        .iconbar-item.section-item.active {
            opacity: 0 !important;
        }
    }

    &:not(.focus-mode-hover-top) .focus-mode-aware-top {
        width: 100%;
        height: var(--closed-size) !important;
        min-height: var(--closed-size) !important;
        filter: brightness(.95) !important;

        &>* {
            opacity: 0 !important;
        }
    }
}

// END FULLSCREEN


.button-items {
    display: flex;
    flex-direction: column;

    .btn-clickable {
        height: 20px;
        font-size: 32px;
        color: lightgrey;
        transition: 0.3s;
        opacity: 0.8;
        height: 52px;
        padding-left: 24px;
    }

    .btn-clickable:hover {
        cursor: pointer;
        opacity: 1;
    }
}

.disconnected-status {
    color: red;
    position: relative;
    top: 1px;
}

.fakeME {
    top: 1px;
}