@import "#app/common.scss";


.draggable {

    opacity:1;
    transition: opacity 0.3s linear;

    &.dragging {

        opacity:0.4

    }
}

.droppable {

    padding-top:0px;
    transition: padding-top 0.3s;
        
    &.hovered {

        padding-top: 20px;      
        border-top: 2px solid rgba($success-color,0.5);
        
    }
}