@import '#app/common.scss';


.layout-sidebar {

    overflow-y: auto;

    width:285px;
    max-width: 285px;
    min-width:285px;

    & > *:not(:first-child) {

        margin-top: 5px;
    }

}

.layout-designer {

    display: flex;
    height: 100%;

}


.sidebar-title {

    border: 1px solid $text-color-lightest;
    display:flex;
    align-items: center;
    background: $text-color-tinted;
    font-size: $text-size-smaller;
    padding: 10px;
}

.navbar-links {

    padding-top: 30px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;

    :not(:first-child) {

        margin-top:5px;
    }
}


.layout-toc {

    padding-top:35px;
   
    
    display:flex;
    flex-direction: column;
    align-items: center;    // centers single content child

    .toc-contents {

        display: flex;
        flex-direction: column; 
    
    }

    .toc-title {
  
        margin-left: -15px;
        margin-bottom: 20px;

    }

    .ant-anchor-link {

        a {color: $text-color-lighter}
    }
    
    .add-page {
        
        margin-top:5px;

        color: $text-color

    }
}


.layout-pages {
   
    flex-grow: 1;                               // stretches both ways.
    
    background:$text-color-selected;            

    border-radius: 6px;
    padding: 30px 20px 50px;
    margin-bottom: 15px;                        // page and context offset from bottom.


    .page-form {

        padding-top: 0px;                      // overrides in inset context, shouldn't be required really.

        .ant-form {

            padding: 0px;
        }
    }

    .page-preview:not(:first-of-type) {
        margin-top:20px
    }
    
    .fake-component-placeholder {

        margin: 25px;               // drop effect is slightly inset.

        flex-grow: 1;               // fills card.
        
        display: flex;              // contents horizontally centered.
        justify-content: center;             

        .placeholder-text {
                
            align-self: center;     //  vertically centered

            font-size: $text-size-large;
            font-weight: 200;
            color: $text-color-lighter;

        }
    }
   
}

.layout-language-selector {

    margin-right: 10px;
   
    .ant-select {
        width:120px;
    }

    .navbar-links {
        margin-top: 0 !important;
    }
  }

  .layout-language-selector.max-width {
      .ant-select {
          width: 100%;
      }
  }

  .detail-layout {

    padding: 0px !important;
  }