
@import '#app/common.scss';



.switchuser {

    .role-options {

        margin-bottom: 5px;
        margin-left: 10px;
        margin-top: -2px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

    }

    .user-selector {

        margin-top: 5px;
        display: flex;
        align-items: center; 
    }
}


